.closeButton {
  padding: 12px;
  border-radius: 6px;
  background-color: #11627D14;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: map-get($breakpoints, sm)) {
    padding: 8px;
  }
}
