.home-wrapper {
  height: 100vh;

  @layer base {
    position: relative;
    display: flex;
    max-height: 640px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 130px 16px 24px;

    //background-image: linear-gradient(180deg, rgba(38, 57, 69, 0) 50.45%, rgba(38, 57, 69, 1) 87.97%), url("/content/banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  @include xs {
    padding: 130px 20px 79px 16px;
  }

  @include sm {
    padding: 130px 20px 111px;
    max-height: 875px;
  }

  @include md {
    padding: 130px 20px 111px 40px;
    max-height: 1000px;
  }

  @include lg {
    padding: 130px 20px 120px 40px;
    max-height: none;
  }

  @include xl {
    padding: 60px 40px 124px 142px;
  }

  @include xxl {
    padding: 90px 40px 124px 170px;
  }

  @include xxxl {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    //padding-bottom: 124px;
    //background-image: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 47.45%, rgb(0 0 0 / 20%) 81.97%), url("/content/banner.webp");
    padding: 90px 40px 124px 196px;
  }
}

.title {
  @layer base {
    @include font(3, 44, 54, 400);
  }

  @include md {
    @include font(3, 90, 100, 400);
  }

  @include xl {
    @include font(3, 124, 150, 400);
  }

  @include lg {
    @include font(3, 90, 90, 400);
  }
}

.description {
  animation: descriptionAnimation 0.8s both;

  @layer base {
    @include font(1, 16, 20);

    max-width: 780px;
    margin-top: 12px;
  }

  @include md {
    @include font(1, 20, 26);
  }

  @include xl {
    @include font(1, 24, 34);
  }

  @include lg {
    @include font(1, 20, 26);

    max-width: 780px;
  }
}

@keyframes descriptionAnimation {
  0% {
    padding-bottom: 15px;
    opacity: 0;
  }

  100% {
    padding-bottom: 0;
    opacity: 1 !important;
  }
}

.text_wrapper {
  .description {
    margin-top: 12px;
  }

  @layer base {
    z-index: 3;
  }

  @include lg {
    height: 180px;
    width: 60%;
  }

  @include xl {
    height: 230px;
  }
}

.button_wrapper {
  @layer base {
    z-index: 3;
    margin-top: 36px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 36px !important;
      gap: 10px;

      span {
        @include font(1, 16, 24, 400);

        text-transform: uppercase;
      }
    }
  }

  @include md {
    margin-top: 40px;
  }

  @include lg {
    width: fit-content;
  }

  @include xl {
    display: none;
  }

  @include xs {
    button {
      height: 48px;
    }
  }
}

.icon {
  @layer base {
    display: none;
  }

  @include sm {
    display: flex;
  }
}

.slider_outer_wrapper {
  .slider__layout {
    position: absolute;
    z-index: 10;
    inset: 0;

    @include lg {
      background: linear-gradient(228deg, rgb(0 0 0 / 30%) 47.45%, rgb(0 0 0 / 20%) 81.97%);
    }

    @include xs {
      background: linear-gradient(180deg, rgb(38 57 69 / 0%) 34.4%, #263945 90.97%),
        linear-gradient(215deg, rgb(0 0 0 / 0%) 45.29%, rgb(0 0 0 / 20%) 72.52%);
    }
  }

  @layer base {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    //background: black;
    background-image: linear-gradient(180deg, rgb(38 57 69 / 0%) 50.45%, rgb(38 57 69 / 100%) 87.97%);
  }

  @include lg {
    background-image: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 47.45%, rgb(0 0 0 / 20%) 81.97%);
  }

  @include xl {
    background-image: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 47.45%, rgb(0 0 0 / 20%) 81.97%);
  }
}

.slider_controls {
  @layer base {
    z-index: 3;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  @include lg {
    justify-content: space-between;
  }
}

.embla__buttons {
  @layer base {
    position: absolute;
    right: 40px;
    bottom: 40px;
    left: auto;
    display: none;
    align-items: center;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    display: flex;
    align-items: center;
  }
}

.dots_wrapper {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  width: fit-content;
  width: 100%;
  justify-content: center;
  margin: auto;

  @include md {
    bottom: 56px;
  }

  @include xs {
    bottom: 32px;
  }
}

.findApartmentButtonInner {
  display: flex;
  gap: 10px;
}