.wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    //padding: 40px 40px 0 40px;
    padding: 40px 16px;
    height: 500px;
    gap: 40px;
    background-color: #fff;
    overflow: hidden;
  }

  @include sm {
    padding: 60px 20px;
  }

  @include md{
    padding: 60px 40px;
  }

  @include lg{
    padding: 60px 40px 60px 170px;
    flex-direction: row-reverse;
    height: 264px;
    gap: 40px;
  }

  @include xl{
    justify-content: center;
    padding: 60px 40px 60px 170px;
    height: 324px;
    gap: 60px;
  }

  @include xxl{
    height: 270px;
  }

  @include xxxl{
    height: 310px;
    padding: 80px 40px 80px 196px;
  }
}

.info{
  @layer base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
  }

  @include lg{
    justify-content: start;
  }
}
.title {
  @layer base {
    color: rgba(85, 85, 85, 1);
    @include font(3, 30, 40, 400)
  }

  @include md {
    @include font(3, 36, 50, 400)
  }

  @include xl {
    @include font(3, 42, 54, 400);
    width: 90%;
  }

  @include xxl{
    width: 100%;
  }
}

.download-wrapper {

  @layer base {
    width: 100%;
    padding: 0;

    .download{
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 0;
      align-items: center;

      .text{
        text-align: left;

        div{
          @include font(1, 16, 20, 400);
        }

        p{
          @include font(1, 12, 14, 400);
          color: rgba(160, 163, 168, 1);
        }
      }

    }

  }

  @include xl {
    padding: 0;

    .download {
      padding: 0;
    }

  }

  @include sm {
    //padding: 40px;
  }
}

.schemeWrapper {
  position: relative;
}

.icon {
  @layer base {
    position: absolute;
    left: -80px;
  }

  @include sm {
    left: -60px;
  }

  @include lg {
    top: -60px;
    right: -40px;
    left: inherit;
  }

  @include xl {
    position: relative;
  }

  @include xxxl {
    left: 0;
    right: 0;
    width: 905px;
    height: 310px;
  }
}
