.block-wrapper {
  @layer base {
    padding: 0 16px;
  }

  @include sm{
    padding: 0 20px;
  }

  @include md {
    padding: 0 40px;
  }

  @include xl {
    padding: 0 40px 0 142px;
  }

  @include xxl{
    padding: 0 40px 0 170px;
  }

  @include xxxl{
    padding: 0 40px 0 196px;
  }
}

.title {
  @layer base {
    color: rgba(33, 60, 78, 1);
    padding-bottom: 40px;
    border-bottom: 0 solid rgba(17, 98, 125, 0.3);
    @include font(3, 30, 40, 400);
  }

  @include md {
    @include font(3, 36, 50, 400);
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(17, 98, 125, 0.3);
  }

  @include xl {
    @include font(3, 42, 54, 400);
  }

}


.tiles-main-wrapper {
  @layer base {
    flex-direction: column;
    height: 100%;
  }

  @include xxl {
    flex-direction: row;
    height: 670px;
  }

  @include xxxl {
    height: 720px;
  }

}

.tiles-wrapper {
  @layer base {
    display: flex;
    gap: 24px;
    width: 100%;
    height: 100%;
  }

}

.tile {
  @layer base {
    height: 300px;
    width: 100%;
    color: #FFFFFF;
    padding: 36px 20px;
    word-wrap: break-word;
  }

  @include sm{
    padding: 36px;
  }


  @include md{
    padding: 40px;
  }

  @include xxl {
    height: 100%;
  }

}

.column {
  @layer base {
    flex-direction: column;

    .tiles-wrapper {
      flex-direction: column;
    }
  }

  @include md {
    .tiles-wrapper {
      flex-direction: row;
    }
  }


}

.title_num {
  @layer base {
    @include font(3, 40, 50, 400);
  }

  @include md {
    @include font(3, 52, 58, 400);
  }

  @include xl {
    @include font(3, 64, 80, 400);
  }
}

.title_text {
  @layer base {
    @include font(3, 22, 34, 400);
  }

  @include md {
    @include font(3, 26, 36, 400);
  }

  @include xl {
    @include font(3, 32, 44, 400);
  }
}

.desc {
  @layer base {
    @include font(1, 14, 18, 400);
  }

  @include xl {
    @include font(1, 16, 22, 400);
  }
}

.text_wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.button_wrapper {
  @layer base {
    //height: inherit;
    width: inherit;
  }

  @include lg {
    width: 280px;
  }
}

.num_info {
  @layer base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.bg-1 {
  @layer base {
    background: rgba(17, 98, 125, 1);
  }

  @include xxl {
    height: 323px;
  }

  @include xxxl {
    height: 348px;
  }
}

.bg-2 {
  @layer base {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_base.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include sm{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_sm.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include md{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_md.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include lg{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_lg.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_xl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_xxl.png') no-repeat center center;
    background-size: 100% 100%;
    height: 323px;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/out_xxxl.png') no-repeat center center;
    background-size: 100% 100%;
    height: 348px;
  }
}

.bg-3 {
  @layer base {
    background: #FFFFFF;
    color: rgba(85, 85, 85, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include lg {
    flex-direction: row;
    align-items: flex-end;
  }

  @include xxl {
    flex-direction: column;
    align-items: flex-start;
    height: 323px;
  }

  @include xxxl {
    padding: 60px 40px;
    height: 348px;
  }


}


.bg-4 {
  @layer base {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_base.png') no-repeat center center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
  }

  @include sm{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_sm.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include md{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_md.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include lg{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_lg.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_xl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_xxl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/parking/inf_xxxl.png') no-repeat center center;
    background-size: 100% 100%;
    padding: 60px;
  }
}


.num-col-wrapper{
  @include xxl {
    height: fit-content;
  }
}

.button{
  @layer base{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 48px;
    padding: 12px 36px!important;
  }
}
