.pin_container {
  position: absolute;
  z-index: 3;
  width: 51px;
  height: 64px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: 504px) {
    &:hover {
      z-index: 5;
      min-width: 40rem;
      min-height: 64px;

      .wrap {
        top: -19px;
        left: -7px;

        .icon {
          width: 51px;
          height: 64px;
        }

        .overlay {
          min-width: 40rem;

          .name_container {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &.active {
    z-index: 5;
    min-width: 40rem;
    min-height: 64px;

    .wrap {
      top: -19px;
      left: -7px;

      .icon {
        width: 51px;
        height: 64px;
      }

      .overlay {
        min-width: 40rem;

        .name_container {
          transform: translateX(0);
        }
      }
    }
  }

  .wrap {
    position: relative;

    .icon {
      position: relative;
      z-index: 3;
      width: 36px;
      height: 45px;
      transition: 0.05s ease-in;
    }

    .overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 44px;
      overflow: hidden;
      width: 0;
      height: 64px;
      transition: all 3s ease;

      .name_container {
        position: absolute;
        top: 7px;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        transform: translateX(-82%);
        transition: all 0.3s ease;

        svg {
          position: absolute;
          z-index: 1;
        }

        .name {
          z-index: 4;
          padding-left: 12px;
          color: #fff;
          font-family: $font-primary;
          font-size: 12px;
          font-weight: 400;
          line-height: 108%;

          p {
            width: 100%;
            max-width: 130px;
          }
        }
      }
    }
  }
}
