@import '../../../../fonts/fonts';

.head {
    position: absolute;
    z-index: 999;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
}
  
.headClose {
    // margin: 16px 16px 0 0;
}
  
.mobile_content {
    position: relative;
    display: flex;
    flex-direction: column;

    .mobile_map {
        width: 100%;
        height: 90vh;
    }

    .mobile_infoblock {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #FFF;
        transition: transform 0.3s ease-in-out;

        &.ib_open {
            height: 100vh;
            transform: translate(0, 0);
        }

        &.ib_close {
            height: 10vh;
            transform: translate(0, 90vh);
        }

        .line_container {
            height: 9vh;

            .infoblock_line {
                width: 20%;
    
                // height: 4vh;
                border-top: 3px solid #11627D;
                margin: 15px auto;
            }
    
            h4.infoblock_title {
                margin: 10px 15px 0;
                color: #555;
                font-family: $font-romul;
                font-weight: 400;
    
                @layer base {
                    font-size: 32px;
                    line-height: 44px;
                }
    
                @include xs {
                    font-size: 22px;
                    line-height: 34px;
                }
    
                @include sm {
                    font-size: 42px;
                    line-height: 54px;
                }
            }
        }

        h4.infoblock_title_small {
            margin: 15px;
            color: #555;
            font-family: $font-romul;
            font-weight: 400;

            @layer base {
                font-size: 24px;
                line-height: 36px;
            }

            @include xs {
                font-size: 22px;
                line-height: 34px;
            }
        }

        .maplegend-legend {
            position: relative;
            display: block;
            width: 100%;
            padding: 15px;
            background-color: #FFF;
            pointer-events: none;
    
            .maplegend-legend-item {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: left;
                padding: 10px;
    
                p {
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}
  