$color_1: var(--text-body);
$color_2: var(--detail-high-contrast);
$background-color_1: transparent;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  &.visible {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 1;
  }

  @layer base {
    @include font(3, 30, 40, 400);
    @include font(3, 30, 40, 400);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  @include sm {
    padding: 0 20px;
  }

  @include md {
    padding: 0 40px;
  }

  @include lg {
    @include font(3, 36, 50, 400);
  }

  @include xl {
    @include font(3, 42, 54, 400);

    padding: 0 40px 0 142px;
  }

  @include xxl {
    @include font(3, 42, 54, 400);

    padding: 0 40px 0 170px;
  }

  @include xxxl {
    padding: 0 40px 0 196px;
  }
}

.gallery-wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include lg {
    gap: 60px;
  }
}

.button_wrapper {
  @layer base {
    display: none;
  }

  @include lg {
    display: flex;
  }
}

.embla__buttons {
  display: grid;
  align-items: center;
  gap: 0.6rem;
  grid-template-columns: repeat(2, 1fr);
}

.embla__controls {
  display: grid;
  justify-content: space-between;
  margin-top: 1.8rem;
  gap: 1.2rem;
  grid-template-columns: auto 1fr;
}

.embla__dots {
  display: flex;
  align-items: center;

  //flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  //margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;

  &::after {
    width: 15px;
    height: 15px;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(17 98 125 / 30%);
    content: '';
  }
}

.embla__dot--selected {
  &::after {
    width: 20px;
    border-radius: 100px;
    background-color: rgb(60 140 166 / 100%);
    transition: all 0.5s ease-in-out;
  }
}
