$color_1: var(--text-body);
$color_2: var(--detail-high-contrast);
$background-color_1: transparent;

.title {
  @layer base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(33, 60, 78, 1);
    padding: 0 16px;

    @include font(3, 30, 40, 400);
  }

  @include sm{
    padding: 0 20px;
  }

  @include md{
    padding: 0 40px;
  }

  @include lg {
    @include font(3, 36, 50, 400);
  }

  @include xl {
    padding: 0 40px 0 142px;
    @include font(3, 42, 54, 400);
  }

  @include xxl {
    padding: 0 40px 0 170px;
    @include font(3, 42, 54, 400);
  }

}

.gallery-wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include lg {
    gap: 60px;
  }
}

.button_wrapper {
  @layer base {
    display: none;
  }

  @include lg {
    display: flex;
  }
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__dots {
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  //margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  &:after {
    background-color: rgba(17, 98, 125, 0.3);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
}
.embla__dot--selected {
  &:after {
    width: 20px;
    border-radius: 30%;
    background-color: rgba(60, 140, 166, 1);
    transition: all .5s ease-in-out;
  }
}
