$color_1: var(--text-body);
$color_2: var(--detail-high-contrast);
$background-color_1: transparent;

.embla {
  margin: auto;
  @layer base {
    --slide-height: 200px;
    --slide-spacing: 1rem;
    --slide-size: 90%;
  }

  @include sm{
    --slide-height: 260px;
  }

  @include md{
    --slide-height: 400px;
  }

  @include lg{
    --slide-height: 500px;
  }

  @include xl{
    --slide-height: 600px;
  }

  @include xxl{
    --slide-height: 700px;
  }

  @include xxxl{
    --slide-height: 800px;
  }


}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transition: opacity 0.2s ease-in-out;
  //&:not(.is-snapped) {
  //  opacity: 0.16;
  //}
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: $background-color_1;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: $color_1;
  display: flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    color: $color_2;
  }
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
