@import '../../../../scss/variables';

.inputText {
   color: #000;
   font-family: $font-primary;
}

.inputText_label {
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;

   @include custom(0, map-get($breakpoints, lg)) {
      font-size: 14px;
      line-height: 18px;
   }

   @include custom(0, map-get($breakpoints, sm)) {
      font-size: 14px;
      line-height: 18px;
   }
}

.inputText_caption {
   font-size: 12px;
   font-weight: 400;
   line-height: 14px;

   @include custom(0, map-get($breakpoints, lg)) {
      font-size: 12px;
      line-height: 14px;
   }

   @include custom(0, map-get($breakpoints, sm)) {
      font-size: 12px;
      line-height: 14px;
   }
}

.inputText_content {
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;

   @include custom(0, map-get($breakpoints, lg)) {
      font-size: 14px;
      line-height: 18px;
   }

   @include custom(0, map-get($breakpoints, sm)) {
      font-size: 14px;
      line-height: 18px;
   }
}