@keyframes mymove {
  from {
    opacity: 1;
    transform: scale(0.8);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes mymove2 {
  from {
    opacity: 1;
    transform: scale(0.8);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.compass_button {
  padding: 0 !important;
  margin: 0 !important;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 134px;
  height: 134px;

  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.compassLink {
  .compass {
    width: 134px;
    height: 134px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.405, 1.49);

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }

  @include hover {
    .compass {
      transform: scale(1.5);
    }

    .pulse {
      animation: mymove2 1.6s ease-in-out infinite;
    }
  }

  .pulse {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 134px;
    height: 134px;
    animation: mymove 1.6s ease-in-out infinite;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.405, 1.49);

    @include hover {
      transform: scale(1.5);
    }

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }

  .pulse:nth-child(1) {
    animation-delay: 0s;
  }

  .pulse:nth-child(2) {
    animation-delay: 0.5s;
  }

  .pulse:nth-child(3) {
    animation-delay: 0.9s;
  }
}

.activeCardZindex {
  z-index: 15;
}

.cardWrapper {
  position: fixed;
  width: fit-content;
  height: fit-content;

  left: 0;
  right: 0;
  top: auto;
  z-index: 1000;
  bottom: env(safe-area-inset-bottom, -20px);

  @include mobile {
    width: 0;
    height: 0;
  }
}

.wrapper {
  // временно

  // a {
  //   pointer-events: none !important;
  // }

  position: absolute;
  box-shadow: 50px 50px 28px 1px rgb(0 0 0 / 55%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &-visible {
    opacity: 1;
  }
}

.compass_content {
  @include font(1, 14--14, 21--21, 200);

  @layer base {
    width: 100vw;
    height: 100vh;
    padding: 40px 46px;
    z-index: 10;
    background: #fff;
    gap: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  @include md {
    flex-direction: row;
    width: 607px;
    justify-content: space-between;
    margin: auto;
    height: fit-content;
  }

  @include mobile {
    padding-top: 56px !important;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255);
    background: linear-gradient(133deg, rgb(255 255 255 / 100%) 33%, rgb(255 255 255 / 97%) 100%);
    content: '';

    // @include mobile {
    //   border-radius: 10px;
    // }
  }

  @include mobile {
    position: fixed;
    z-index: 9;
    padding: 24px;
    margin: auto;
    inset: 0;
  }
}

.leftSide {
  z-index: 1;
  display: flex;
  height: 224px;
  flex-direction: column;
  gap: 10px;

  .leftSvg {
    height: 224px;
  }

  // @include mobile {
  //   display: flex;
  //   width: 44px;
  //   height: 110px;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: flex-start;
  //   gap: 0;
  //   text-align: left;

  //   svg {
  //     width: 44px;
  //     height: 110px;
  //   }

  //   span {
  //     font-size: 5px;
  //     text-align: center;
  //   }
  // }
}

.title {
  @include font(1, 12--12, 21--21, 500);

  text-align: center;
  text-transform: uppercase;
}

.rightSide {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (max-width: 768px) {
    gap: 40px;
  }

  p {
    margin-top: 35px;
    color: #000;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;

    @media (max-width: 990px) {
      margin-top: 0;
      color: #555;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .text {
    margin-top: 31px;
    color: #555;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
}

.naberejnaya {
  align-items: flex-start;
  justify-content: flex-start;

  p {
    margin-top: 0;
  }
}

.button {
  max-width: 284px;
  margin: 0;
  margin-top: 17px;

  @include mobile {
    max-width: 100%;
    background-color: $accent-color;
    color: #fff;
  }
}

.close {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  width: 28px;
}

.mobile_modal {
  display: flex;
  gap: 40px;
  height: 100%;

  .popup_logo {
    min-width: 107px !important;
  }

  .modal_text {
    color: $grey;
  }

  .modal_button {
    color: inherit;
    padding: 12px 36px;
  }

  .modal_logo_wrapper {
    display: flex;
    flex-direction: column;
  }

  .modal_logo_wrapper .modal_name {
    color: $grey;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    margin-top: 18px;
  }

  @layer base {
    flex-direction: column;
    height: 100%;

    .popup_logo {
      min-width: 107px !important;
    }

    .modal_logo_wrapper {
      width: fit-content;
      justify-content: center;
      text-align: center;
    }

    .modal_button {
      width: calc(100% - 16px - 16px);
      position: fixed;
      bottom: 0;

      bottom: 20px;
      left: 16px;
      right: 16px;

      span {
        font-size: 16px;
        line-height: 24px;
      }

    }
  }

  @include md {
    flex-direction: row;
    height: fit-content;

    .popup_logo {
      min-width: 107px !important;
    }

    .modal_logo_wrapper {
      width: fit-content;
      justify-content: center;
      text-align: center;
    }

    .modal_button {
      position: static;
      margin-top: 24px !important;
    }
  }

  @include lg {

    .modal_button {
      position: static;
      width: fit-content;
      margin-top: 24px !important;
    }
  }
}
