.button {
   position: relative;
   display: flex;
   width: 100%;
   height: fit-content;
   align-items: center;
   justify-content: center;
   aspect-ratio: 1/1;

}


.bg-opacity-8 {
   --bg-opacity: 0.08;

}

.bg-opacity-16 {
   --bg-opacity: 0.16;

}

.bg-opacity-24 {
   --bg-opacity: 0.24;

}

.bg-opacity-32 {
   --bg-opacity: 0.32;

}

.bg-opacity-40 {
   --bg-opacity: 0.40;

}

.bg-opacity-48 {
   --bg-opacity: 0.48;

}

.bg-opacity-default {
   --bg-opacity: 1;
}


.arrow {
   transition: all .2s;
}

.border {
   border-style: solid;
}

.none_border {
   border-style: none !important;
}

/* Border Color */
.border-color-none {
   border: none !important;
}

.border-color-orange-light {
   border-color: #FFB488;
}

.border-color-orange-default {
   border-color: #FD7628;
}

.border-color-orange-dark {
   border-color: #F06710;
}

// Сделать через абсолют
.border-color-blue-light {
   border-color: #11627d4d;
}

.border-color-blue-dark {
   border-color: #66A2B6;
}

.border-color-blue-extra-light {
   border-color: #DCEBF1;
}

.border-color-gray-light {
   border-color: #CDD0D3;
}


.border-color-gray-dark {
   border-color: #B5B9BE;
}

.border-color-dark {
   border-color: #555;
}

.border-color-bronze {
   border-color: #936147;
}

/* Border Width */
.border-width-1px {
   border-width: 1px;
}

.border-width-2px {
   border-width: 2px;
}

.border-width-3px {
   border-width: 3px;
}

/* Button Fill */
.button-fill-none {
   background-color: transparent !important;
}

.button-fill-orange-500 {
   background-color: rgb(253 118 40 / var(--bg-opacity, 1));

   /* #FD7628 */
}

.button-fill-orange-600 {
   background-color: rgb(248 114 28 / var(--bg-opacity, 1));

   /* #F8721C */
}

.button-fill-orange-700 {
   background-color: rgb(240 103 16 / var(--bg-opacity, 1));

   /* #F06710 */
}

.button-fill-bronze-500 {
   background-color: rgb(211 143 109 / var(--bg-opacity, 1));

   /* #D38F6D */
}

.button-fill-bronze-600 {
   background-color: rgb(195 133 102 / var(--bg-opacity, 1));

   /* #C38566 */
}

.button-fill-bronze-700 {
   background-color: rgb(177 119 89 / var(--bg-opacity, 1));

   /* #B17759 */
}

.button-fill-blue {
   background-color: rgb(17 98 125 / var(--bg-opacity, 1));

   /* #11627D */
}

.button-fill-gray {
   background-color: rgb(181 185 190 / var(--bg-opacity, 1));

   /* #B5B9BE */
}

.button-fill-gray-light {
   background-color: rgb(205 208 211 / var(--bg-opacity, 0.16));

   /* rgb(205 208 211 / 16%) */
}

.button-fill-white {
   background-color: rgb(255 255 255 / var(--bg-opacity, 1));

   /* #FFF */
}

/* Button Element Color */
.button-element-color-white {
   color: #FFF;
}

.button-element-color-black {
   color: #555;
}

.button-element-color-orange {
   color: #FD7628;
}

.button-element-color-blue {
   color: #11627D;
}

/* Button Border Radius */
.butron-border-radius-0 {
   border-radius: 0;
}

.butron-border-radius-6px {
   border-radius: 6px;
}

.butron-border-radius-12px {
   border-radius: 12px;
}

.butron-border-radius-circle {
   border-radius: 50%;
}

/* Additional Classes */
.disabled {
   opacity: 0.5 !important;
   pointer-events: none !important;
}

.border_disabled {
   border: none !important;
}

.animationOn {
   &:hover>.arrow {
      transform: rotate(-45deg);
   }
}