.content-wrapper {
  @layer base {
    padding: 0 16px;
  }

  @include sm {
    padding: 0 20px;
  }

  @include md {
    padding: 0 40px;
  }

  @include xl {
    padding: 0 40px 0 142px;
  }

  @include xxl {
    padding: 0 40px 0 170px;
  }

  @include xxxl {
    padding: 0 40px 0 196px;
  }
}

.title {
  @layer base {
    display: flex;
    align-items: end;
    color: #FFFFFF;
    width: 100%;
    height: 240px;
    padding: 20px 16px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_base.webp') no-repeat;
    background-position-y: 65%;
    background-size: 100% 100%;
    @include font(3, 30, 40, 400);
    word-wrap: break-word;
  }

  @include sm {
    height: 300px;
    padding: 24px 20px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_sm.webp') no-repeat;
  }

  @include md {
    height: 480px;
    padding: 40px;
    @include font(3, 36, 50, 400);
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_md.webp') no-repeat;
  }

  @include lg {
    padding: 20px 0;
    height: 440px;
    width: 440px;
    background: none;
    align-items: start;
  }

  @include xl {
    @include font(3, 42, 54, 400);
    height: 460px;
    width: 544px;
  }

}


.inner-wrapper {

  @layer base {
    display: flex;
    flex-direction: column;
  }

  @include lg {
    padding: 20px 20px 20px 40px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;


    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_lg.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include xl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_xl.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_xxl.webp') no-repeat;
    background-size: 100% 100%;

  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1)), url('/content/parking/t_xxxl.webp') no-repeat;
    background-size: 100% 100%;

    padding: 40px 40px 40px 60px;
  }

}

.ticketFormWrapper {
  @layer base {}

  @include lg {
    width: 434px;
    height: 440px;
  }

  @include xl {
    width: 484px;
    height: 460px;
  }

  @include xxl {
    width: 451px;
    height: 520px;
  }

  @include xxxl {
    width: 577px;
    height: 570px;
  }
}