@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.under_class {
  margin-top: 18px !important;

  @include custom(0, map-get($breakpoints, lg)) {
    margin-top: 14px;
  }

  @include custom(0, map-get($breakpoints, sm)) {
    margin-top: 10px;
  }
}

.section {
  max-height: 100vh;

  @layer base {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 800px;
    max-height: 1000px;
    align-items: flex-end;
    padding: 16px 16px 24px;
    background: linear-gradient(121deg, rgb(255 255 255 / 40%) 18.87%, rgb(255 255 255 / 0%) 66.38%);
    background: linear-gradient(48deg, rgb(30 56 73 / 50%) 6.94%, rgb(30 56 73 / 0%) 83.47%),
      linear-gradient(180deg, rgb(38 57 69 / 0%) 18.3%, rgb(38 57 69 / 47%) 49.35%, #263945 100%),
      linear-gradient(90deg, rgb(30 56 73 / 70%) -5.13%, rgb(0 0 0 / 0%) 94.23%);
    background-position: center;
    background-position-x: -550px;
    background-repeat: no-repeat;
    background-size: cover !important;
    object-fit: cover;

    .overflow {
      // position: absolute;
      // z-index: 1;
      // background: linear-gradient(48deg, rgb(30 56 73 / 50%) 6.94%, rgb(30 56 73 / 0%) 83.47%),
      //   linear-gradient(180deg, rgb(38 57 69 / 0%) 18.3%, rgb(38 57 69 / 47%) 49.35%, #263945 100%),
      //   linear-gradient(90deg, rgb(30 56 73 / 70%) -5.13%, rgb(0 0 0 / 0%) 94.23%);
      // inset: 0;
      // pointer-events: none;
    }
  }

  @include sm {
    padding: 40px 20px;
    background-position-x: -480px;
    background-position-y: -100px;
  }

  @include md {
    padding: 90px 40px;
    background-position-x: -250px;
    background-position-y: 0;

    .overflow {
      background: none;
    }

    &::after {
      background: linear-gradient(121deg, rgb(255 255 255 / 40%) 18.87%, rgb(255 255 255 / 0%) 66.38%);
    }
  }

  @include lg {
    background-position: top left;
    background-size: 100% 100%;
  }

  @include xl {
    padding: 90px 142px;
  }

  @include xxl {
    padding: 90px 170px;
  }

  @include xxxl {
    padding: 130px 190px;

  }
}

.map {
  position: absolute !important;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;

  // ! сделал 100vh
  // при 16/9 появляется пустое пространство внизу, потому что секции больше чем высота экрана, вернул 100%
  height: 100%;

  // filter: grayscale(75%);

  // pointer-events: none;
}

.mapIsActive {
  pointer-events: all !important;
}

.captions {
  &.visible {
    animation: fadeInRight 0.8s ease-out forwards;
    opacity: 1;
  }

  @layer base {
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: $yellow-text;
    gap: 40px;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  @include sm {
    gap: 60px;
  }

  @include md {
    height: 100%;
    justify-content: space-between;
    gap: 100px;
    pointer-events: none;
  }

  @include lg {
    justify-content: start;
    gap: 60px;
  }

  &-title {
    @layer base {
      @include font(3, 30, 40, 400);

      color: $yellow-text;
    }

    @include md {
      @include font(3, 36, 50, 400);

      color: #213c4e;
    }

    @include md {
      @include font(3, 42, 54, 400);
    }
  }
}

.caption-items {
  @layer base {
    display: flex;
    width: fit-content;
    flex: 0 0 auto !important;
    word-break: break-word;
  }
}

.caption {
  @layer base {
    position: relative;
    width: fit-content;

    & svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__title {
    @layer base {
      @include font(3, 22, 34, 400);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $yellow-text;

      span {
        @include font(3, 40, 50, 400);
      }
    }

    @include md {
      @include font(3, 26, 36, 400);

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      color: $yellow-text;
      gap: 8px;

      span {
        @include font(3, 52, 58, 400);
      }
    }

    @include xl {
      @include font(3, 32, 44, 400);

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 8px;

      span {
        @include font(3, 64, 80, 400);
      }
    }
  }

  &__divider {
    @layer base {
      margin-top: 8px;
    }

    width: 83px;
    height: 2px;
    border: 0;
    margin-left: 0;
    background-color: $orange-bg-500;

    @include md {
      margin-top: 12px;
    }

    @include xl {
      margin-top: 16px;
    }
  }

  &__description {
    @include font(1, 16, 22, 200);

    margin-top: 16px;
    color: $sireneviy;
  }
}

.desktop_captions {
  @layer base {
    display: none;
  }

  @include md {
    display: flex;
    width: 100%;
    max-width: 355px;
    flex-direction: column;
    gap: 40px;

    .caption {
      width: 100%;
    }

    .caption__title {
      @include font(3, 26, 36, 400);

      color: #213c4e;
    }
  }

  @include xl {
    gap: 48px;
  }
}

.mobile_captions {
  @layer base {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  @include md {
    display: none;
  }
}

.phone_slider_container {
  width: 100% !important;
  align-items: flex-end !important;
  gap: 74px !important;

  .caption-items:nth-child(2) {
    width: 240px;
    flex: 0 0 30% !important;
  }

  .caption-items:nth-child(1) {
    .caption__title {
      @layer base {
        span {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.phone_slider_wrapper {
  gap: 24px !important;

  @include sm {
    gap: 60px !important;
  }
}
