.under_class {
  margin-top: 18px !important;

  @include custom(0, map-get($breakpoints, lg)) {
    margin-top: 14px;
  }

  @include custom(0, map-get($breakpoints, sm)) {
    margin-top: 10px;
  }
}

.section {
  @layer base {
    background: linear-gradient(121deg, rgba(255, 255, 255, 0.4) 18.87%, rgba(255, 255, 255, 0) 66.38%);
    position: relative;
    object-fit: cover;
    background-size: cover !important;
    background-position: center;
    background-position-x: -550px;

    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    height: 100vh;
    max-height: 640px;

    padding: 16px 16px 24px 16px;

    background: linear-gradient(48deg, rgba(30, 56, 73, 0.5) 6.94%, rgba(30, 56, 73, 0) 83.47%),
      linear-gradient(180deg, rgba(38, 57, 69, 0) 18.3%, rgba(38, 57, 69, 0.47) 49.35%, #263945 100%),
      linear-gradient(90deg, rgba(30, 56, 73, 0.7) -5.13%, rgba(0, 0, 0, 0) 94.23%);

    .overflow {
      background: linear-gradient(48deg, rgba(30, 56, 73, 0.5) 6.94%, rgba(30, 56, 73, 0) 83.47%),
        linear-gradient(180deg, rgba(38, 57, 69, 0) 18.3%, rgba(38, 57, 69, 0.47) 49.35%, #263945 100%),
        linear-gradient(90deg, rgba(30, 56, 73, 0.7) -5.13%, rgba(0, 0, 0, 0) 94.23%);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
    }
  }

  @include sm {
    padding: 40px 20px;

    background-position-y: -100px;
    background-position-x: -480px;
    max-height: 875px;

  }

  @include md {
    padding: 90px 40px;
    background-position-x: -250px;
    background-position-y: 0;
    max-height: 1000px;


    .overflow {
      background: none;
    }

    &::after {
      background: linear-gradient(121deg, rgba(255, 255, 255, 0.4) 18.87%, rgba(255, 255, 255, 0) 66.38%);
    }
  }

  @include lg {
    background-size: 100% 100%;
    background-position: top left;
    max-height: none;
  }

  @include xl {
    padding: 90px 142px;
  }

  @include xxl {
    padding: 90px 170px;
  }

  @include xxxl {
    padding: 130px 190px;
  }
}

.map {
  position: absolute;
  filter: grayscale(75%);
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.mapIsActive {
  pointer-events: all !important;
}

.captions {
  @layer base {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;

    justify-content: center;

    color: $yellow-text;
  }

  @include sm {
    gap: 60px;
  }

  @include md {
    justify-content: space-between;
    height: 100%;
    gap: 100px;
    pointer-events: none;

  }

  @include lg {
    gap: 60px;
    justify-content: start;
  }

  &-title {
    @layer base {
      color: $yellow-text;
      @include font(3, 30, 40, 400);
    }

    @include md {
      @include font(3, 36, 50, 400);
      color: #213c4e;
    }

    @include md {
      @include font(3, 42, 54, 400);
    }
  }
}

.caption-items {
  @layer base {
    display: flex;
    width: fit-content;
    //overflow: hidden;
    word-break: break-word;

    flex: 0 0 auto !important;
  }
}

.caption {
  @layer base {
    position: relative;
    width: fit-content;

    & svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @include md {}

  &__title {
    @layer base {
      @include font(3, 22, 34, 400);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $yellow-text;

      span {
        @include font(3, 40, 50, 400);
      }
    }

    @include md {
      @include font(3, 26, 36, 400);

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 8px;
      color: $yellow-text;

      span {
        @include font(3, 52, 58, 400);
      }
    }

    @include xl {
      @include font(3, 32, 44, 400);

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 8px;

      span {
        @include font(3, 64, 80, 400);
      }
    }
  }

  &__divider {
    @layer base {
      margin-top: 8px;
    }

    width: 83px;
    height: 2px;
    border: 0;
    margin-left: 0;
    background-color: $orange-bg-500;

    @include md {
      margin-top: 12px;
    }

    @include xl {
      margin-top: 16px;
    }
  }

  &__description {
    @include font(1, 16, 22, 200);

    margin-top: 16px;
    color: $sireneviy;
  }
}

.desktop_captions {
  @layer base {
    display: none;
  }

  @include md {
    display: flex;
    flex-direction: column;
    max-width: 355px;
    width: 100%;
    display: flex;
    gap: 40px;

    .caption {
      width: 100%;
    }

    .caption__title {
      @include font(3, 26, 36, 400);
      color: #213c4e;
    }

    .caption__divider {}
  }

  @include xl {
    gap: 48px;
  }
}

.mobile_captions {
  @layer base {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include md {
    display: none;
  }
}

.phone_slider_container {
  width: 100% !important;
  gap: 74px !important;
  align-items: flex-end !important;

  .caption-items:nth-child(2) {
    flex: 0 0 30% !important;
    width: 240px;
  }

  .caption-items:nth-child(1) {
    .caption__title {
      @layer base {
        span {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.phone_slider_wrapper {
  gap: 24px !important;

  @include sm {
    gap: 60px !important;
  }
}