.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 1000px;
  align-items: center;
  justify-content: center;

  @media (max-width: 1469px) {
    padding-right: 150px;
  }

  @media (max-width: 1280px) {
    &::-webkit-scrollbar {
      height: 0 !important;
    }

    overflow: auto hidden; // Включить горизонтальный скролл // Отключить вертикальный скролл
    padding-right: 0 !important;
    padding-left: 150px;
  }
}

.inner {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  min-height: 1000px;
  scale: 1 !important;
  transform: none !important;

  @media (min-height: 1200px) {
    max-height: 1200px;
  }
}