.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh !important;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    overflow-x: auto; // Включить горизонтальный скролл
    overflow-y: hidden; // Отключить вертикальный скролл
  }
}

.inner {
  position: absolute;
  overflow: hidden;
  scale: 1 !important;
  transform: none !important;
}
