.toggleMenuButton {
  display: flex;
  width: 46px;
  min-width: 30px;
  height: 46px;
  align-items: center;
  justify-content: center;

  button {
    width: fit-content;
    height: fit-content;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;
      fill: #555;
    }
  }
}
