.input_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_main_content {
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 6px;
  gap: 9px;
}

.label {
  padding: 4px 0;
}

.input_main_content_white {
  border: 1px solid #b5d3df;

  &:hover {
    border: 1px solid #dcebf1;
  }

  &:focus {
    border: 1px solid #fff;
  }

  &:has(input:not(:placeholder-shown):focus) {
    border: 1px solid #fff;
  }
}

.input_main_content_dark {
  border: 1px solid #cdd0d3;

  &:hover {
    border: 1px solid #66a2b6;
  }

  &:focus {
    border: 1px solid #3c8ca6 !important;
  }

  &:active {
    border: 1px solid #3c8ca6 !important;
  }

  &:has(input:not(:placeholder-shown):focus) {
    border: 1px solid #3c8ca6 !important;
  }
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.input_white {
  color: #fff;
  line-height: 18px !important;

  &::placeholder {
    color: rgb(255 255 255 / 60%);
    font-size: 14px;
    line-height: 18px !important;
  }
}

.input_dark {
  color: #747679;
  line-height: 18px !important;

  &::placeholder {
    color: #b5b9be;
    font-size: 14px;
    line-height: 18px !important;
  }
}

.top_label_white {
  color: #fff;
}

.top_label_dark {
  color: #b5b9be;
}

.disabled_top_label_white {
  pointer-events: none !important;
  user-select: none !important;
}

.disabled_top_label_white_error {
  color: #d36281 !important;
}

.disabled_top_label_dark {
  pointer-events: none !important;
  user-select: none !important;
}

.disabled_top_label_dark_error {
  color: #d36281 !important;
}

.disabled_input_main_content_white {
  border: 1px solid rgb(255 255 255 / 30%);
  pointer-events: none !important;
  user-select: none !important;
}

.disabled_input_main_content_dark {
  border: 1px solid #e9e9e9;
  pointer-events: none !important;
  user-select: none !important;
}

.disabled_input_placeholder_white {
  color: rgb(255 255 255 / 40%) !important;

  &::placeholder {
    color: rgb(255 255 255 / 40%) !important;
  }
}

.disabled_input_placeholder_dark {
  color: #cdd0d3 !important;

  &::placeholder {
    color: #cdd0d3 !important;
  }
}

.disabled_input_text_white {
  color: rgb(255 255 255 / 60%) !important;
}

.disabled_input_text_dark {
  color: #b5b9be !important;
}

// errors

.top_label_white_error {
  color: #d36281;
}

.top_label_dark_error {
  color: #df708f;
}

.input_box:not(:placeholder-shown):focus .top_label_dark_error {
  color: #ea87a2;
}

.input_main_content_error_white {
  border: 1px solid #d36281;

  .top_label_white_error {
    color: #d36281 !important;
  }

  &:hover {
    border: 1px solid #df708f !important;

    .top_label_white_error {
      color: #df708f !important;
    }
  }

  &:focus {
    border: 1px solid #ea87a2 !important;

    .top_label_white_error {
      color: #ea87a2 !important;
    }
  }

  // !Проверить
  &:has(input:not(:placeholder-shown):focus) {
    border: 1px solid #ea87a2 !important;

    .top_label_white_error {
      color: #ea87a2 !important;
    }
  }
}

.input_main_content_error_dark {
  border: 1px solid #d36281;

  .top_label_dark_error {
    color: #df708f !important;
  }

  &:hover {
    border: 1px solid #df708f !important;

    .top_label_dark_error {
      color: #df708f !important;
    }
  }

  &:focus {
    border: 3px solid #ea87a2 !important;

    .top_label_dark_error {
      color: #ea87a2 !important;
    }
  }

  // !Проверить
  &:has(input:not(:placeholder-shown):focus) {
    border: 1px solid #ea87a2 !important;

    .top_label_dark_error {
      color: #ea87a2 !important;
    }
  }
}

.disabled_input_main_content_error_dark {
  border: 1px solid #d36281 !important;

  .top_label_dark_error {
    color: #87ea94 !important;
  }
}

.disabled_input_main_content_error_light {
  border: 1px solid #d36281 !important;
}

.input_box .top_label_white_error {
  color: #d36281 !important;
}

.input_box:hover .top_label_white_error {
  color: #df708f !important;
}

.input_box:focus .top_label_white_error {
  color: #ea87a2 !important;
}
