.head {
  display: flex;
  justify-content: flex-end;
}

.headClose {
  margin: 16px 16px 0 0;
}

.content {
  padding: 60px;

  @include bp-xl {
    padding: 20px 40px;
  }

  @include bp-sm {
    padding: 20px;
  }

  @include bp-xs {
    padding: 16px 10px;
  }
}

.title {
  @include RomulH3;
}

.bottom-indent {
  margin-bottom: 60px;

  @include bp-xl {
    margin-bottom: 40px;
  }

  @include bp-xs {
    margin-bottom: 36px;
  }
}

.list {
  @include ol-style;
}

.table {
  width: 100%;
  border-collapse: collapse;

  @include font(1, 16, 22);

  @include bp-lg {
    @include font(1, 14, 18);
  }

  & th,
  & td {
    padding: 10px;
    text-align: left;
    border: 1px solid #11627D14;
  }

  & th {
    background-color: #11627D14;
    color: #66A2B6;
  }

  tr:nth-child(even) {
    background-color: #0000000A;
  }

  & td:nth-child(2) {
    width: 80%;
  }
}

.buttonGroup {
  margin-top: auto;
  display: flex;
  gap: 20px;
  padding: 20px 60px 40px 60px;

  @include bp-xl {
    padding: 20px 40px 40px;
  }

  @include bp-sm {
    flex-direction: column;
    padding: 20px 20px 24px;
  }

  @include bp-xs {
    padding: 20px 16px 24px;
  }
}
