.head {
  display: flex;
  justify-content: flex-end;
}

.button_extra {
  padding: 12px;
}

.headClose {
  margin: 16px 16px 0 0;
}

.content {
  padding: 60px;

  @include bp-xl {
    padding: 20px 40px;
  }

  @include bp-sm {
    padding: 20px;
  }

  @include bp-xs {
    padding: 16px 10px;
  }
}

.title {
  @include RomulH3;
  color: $grey;
}

.bottom-indent {
  margin-bottom: 60px;

  @include bp-xl {
    margin-bottom: 40px;
  }

  @include bp-xs {
    margin-bottom: 36px;
  }
}

.list {
  @include ol-style;

  li {
    color: $grey !important;
  }
}

.swipe {
  margin-left: auto;
  margin-bottom: 10px;
}

.table_wrapper {
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.table {
  min-width: fit-content;
  border-collapse: collapse;

  @include font(1, 16, 22);

  @include bp-lg {
    @include font(1, 14, 18);
  }

  text-wrap: nowrap;

  & th {
    font-weight: 400 !important;
  }

  & th,
  & td {
    padding: 10px;
    text-align: left;
    border: 1px solid #11627d14;
    color: $grey;
  }

  & th {
    background-color: #11627d14;
    color: #66a2b6;
  }

  tr:nth-child(even) {
    background-color: #0000000a;
  }

  & td:nth-child(2) {
    width: 80%;
  }
}

.buttonGroup {
  @layer base {
    margin-top: auto;
    display: flex;
    gap: 20px;
    padding: 20px 60px 40px 60px;

    button span {
      font-size: 16px;
    }

    button:last-child span {
      color: $grey;
    }
  }

  @include bp-xl {
    padding: 20px 40px 40px;
  }

  @include bp-sm {
    flex-direction: column;
    padding: 20px 20px 24px;
  }

  @include bp-xs {
    padding: 20px 16px 24px;
  }
}