.tiles-wrapper {

  @layer base {
    background: #11627D14;
    display: flex;
    align-items: center;
    padding: 60px 16px;
  }

  @include sm{
    padding: 60px 20px;
  }

  @include md{
    padding: 60px 40px;
  }

  @include xl {
    padding: 80px 40px 80px 142px;
  }

  @include xxl {
    padding: 80px 40px 80px 170px;
  }

  @include xxl {
    padding: 80px 40px 80px 196px;
  }

}

.wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include xl {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.main-wrapper {

  @layer base {

  }

  @include xxl {
    height: 720px!important;
    flex-direction: row;
  }
}

.column {
  @layer base {
    flex-direction: column;
  }

  @include md {
    .wrapper {
      flex-direction: row;
    }
    .tile {
      width: 100%;
    }
  }
}

.tile {

  @layer base {
    color: #FFFFFF;
    padding: 36px 20px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
    overflow: hidden;


    .title {
      @include font(3, 22, 34, 400);
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .description {
      @include font(1, 14, 18, 400);
    }
  }

  @include sm{
    padding: 36px;
  }

  @include md{
    padding: 40px;

    .title {
      @include font(3, 26, 36, 400);
      display: flex;
      align-items: center;
      gap: 20px;
    }

  }

  @include xl {
    height: 300px;

    .title {
      @include font(3, 32, 44, 400);
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .description {
      @include font(1, 16, 22, 400);
    }

  }

  @include xxl {
    height: 100%!important;
    width: 100%;
    padding: 40px;
  }

}

.tile-bg1 {
  @layer base {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xs.png') no-repeat;
    background-size: 100% 100%;

    gap: 24px;
    justify-content: flex-end;
  }

  @include sm{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_sm.png') no-repeat;
    background-size: 100% 100%;
  }

  @include md {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_md.png') no-repeat;
    background-size: 100% 100%;

    justify-content: flex-end;
  }

  @include lg{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_lg.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xl.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xxl.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xxxl.png') no-repeat;
    background-size: 100% 100%;
    padding: 60px;
  }

}

.tile-bg2 {
  background: #11627D;
}

.tile-bg3 {
  @layer base{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xs.png') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 40, 50, 400);
    }
  }

  @include sm{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_sm.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include md{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_md.png') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include lg {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_lg.png') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include xl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xl.png') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 64, 80, 400);
    }
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xxl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xxxl.png') no-repeat center center;
    background-size: 100% 100%;
  }
}

.tile-bg4 {

  @layer base {
    position: relative;
    background: #FFFFFF;
    color: rgba(85, 85, 85, 1);

    .title {
      @include font(3, 40, 50, 400);
    }
  }

  @include md{
    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include lg {

    .title {
      @include font(3, 64, 80, 400);
    }
  }

  @include xl {
    .title {
      @include font(3, 64, 80, 400);
    }
  }

}

.icon-wrapper {
  @layer base {
    position: absolute;
    right: 0;
    bottom: 0;

    svg {
      height: 136px;
      width: 136px;
    }
  }

  @include sm {
    right: 0;
    top: 0;
    bottom: unset;
    left: unset;

    svg {
      height: 323px;
      width: 323px;
    }
  }

  @include md {
    right: 0;
    top: 0;
    bottom: unset;
    left: unset;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}

