@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tiles-wrapper {
  @layer base {
    display: flex;
    align-items: center;
    padding: 60px 16px;
    background: #11627D14;
  }

  @include sm {
    padding: 60px 20px;
  }

  @include md {
    padding: 60px 40px;
  }

  @include xl {
    padding: 80px 40px 80px 142px;
  }

  @include xxl {
    padding: 80px 40px 80px 170px;
  }

  @include xxl {
    padding: 80px 40px 80px 196px;
  }

}

.wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include xl {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  @layer base {}

  @include xxl {
    height: 720px !important;
    flex-direction: row;
  }
}

.column {
  @layer base {
    flex-direction: column;
  }

  @include md {
    .wrapper {
      flex-direction: row;
    }

    .tile {
      width: 100%;
    }
  }
}

.tile {
  &.visible > .title {
    animation: fadeInUp 0.6s ease-out forwards;
    opacity: 1;
  }

  &.visible > .description {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 1;
  }

  @layer base {
    display: flex;
    overflow: hidden;
    height: 280px;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 20px;
    color: #FFF;
    word-break: break-word;


    .title {
      @include font(3, 22, 34, 400);

      display: flex;
      align-items: center;
      gap: 20px;
      opacity: 0;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .description {
      @include font(1, 14, 18, 400);

      opacity: 0;
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
  }

  @include sm {
    padding: 36px;
  }

  @include md {
    padding: 40px;

    .title {
      @include font(3, 26, 36, 400);

      display: flex;
      align-items: center;
      gap: 20px;
    }

  }

  @include xl {
    height: 300px;

    .title {
      @include font(3, 32, 44, 400);

      display: flex;
      align-items: center;
      gap: 20px;
    }

    .description {
      @include font(1, 16, 22, 400);
    }

  }

  @include xxl {
    width: 100%;
    height: 100% !important;
    padding: 40px;
  }

}

.tile-bg1 {
  @layer base {
    justify-content: flex-end;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xs.webp') no-repeat;
    background-size: 100% 100%;
    gap: 24px;
  }

  @include sm {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_sm.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include md {
    justify-content: flex-end;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_md.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include lg {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_lg.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include xl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xl.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xxl.webp') no-repeat;
    background-size: 100% 100%;
  }

  @include xxxl {
    padding: 60px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/vid_xxxl.webp') no-repeat;
    background-size: 100% 100%;
  }

}

.tile-bg2 {
  background: #11627D;
}

.tile-bg3 {
  @layer base {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xs.webp') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 40, 50, 400);
    }
  }

  @include sm {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_sm.webp') no-repeat center center;
    background-size: 100% 100%;
  }

  @include md {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_md.webp') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include lg {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_lg.webp') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include xl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xl.webp') no-repeat center center;
    background-size: 100% 100%;

    .title {
      @include font(3, 64, 80, 400);
    }
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xxl.webp') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/sugar_xxxl.webp') no-repeat center center;
    background-size: 100% 100%;
  }
}

.tile-bg4 {
  @layer base {
    position: relative;
    background: #FFF;
    color: rgb(85 85 85 / 100%);

    .title {
      @include font(3, 40, 50, 400);
    }
  }

  @include md {
    .title {
      @include font(3, 52, 58, 400);
    }
  }

  @include xl {
    .title {
      @include font(3, 64, 80, 400);
    }
  }

}

.icon-wrapper {
  @layer base {
    position: absolute;
    right: 0;
    bottom: 0;

    svg {
      width: 136px;
      height: 136px;
    }
  }

  @include sm {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;

    svg {
      width: 323px;
      height: 323px;
    }
  }

  @include md {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;

    svg {
      width: inherit;
      height: inherit;
    }
  }
}