.stocks {
  &__list {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);

    @layer base {
      gap: 24px;
      grid-template-columns: repeat(1, 1fr);
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xxl {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @include bp-lg {
      margin-top: 40px;
    }

    &-button {
      width: 100% !important;
      max-width: 273px !important;
      height: 48px !important;
      border-radius: 6px !important;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      @include bp-md {
        max-width: 100% !important;
      }
    }
  }
}

.promotion-page_title {
  color: #213c4e;
}

.promotion-page-container {
  @layer base {
    padding: 80px 16px 60px;
  }

  @include sm {
    padding: 90px 20px;
  }

  @include md {
    padding: 90px 40px;
  }

  @include lg {
    padding: 130px 40px 90px;
  }

  @include xl {
    padding: 142px 40px 90px 142px;
  }

  @include xxl {
    padding-left: 170px;
  }

  @include xxxl {
    padding: 142px 40px 110px 196px;
  }
}
