.headerMenuBottom {
  position: relative;
  width: 100%;
  height: fit-content;
  color: #fff;

  .contacts {
    position: absolute;
    z-index: 2;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    border: 1px solid #fff;
    border-radius: 100px;
    gap: 6px;

    .link {
      width: 32px;
      height: 32px;
      padding: 4px;
    }
  }

  .settingButton {
    position: absolute;
    z-index: 1;
    bottom: 38px;
    left: 30px;
    width: 57px;
    height: 57px;
  }

  .buttons {
    .findApartmentButtons {
      display: none;

      @include custom(0, map-get($breakpoints, xl) - 20px) {
        display: block;
      }
    }
  }
}
