.payment-methods {
  padding-top: 140px;

  @include content-container;

  .title {
    @include RomulH3();
  }

  .tabs {
    display: flex;
    gap: 8px;

    @media (max-width: map_get($breakpoints, xs)) {

    }
  }

  .tab-button {
    @include font(1, 16, 14);

    padding: 16px 20px;
    border-radius: 6px;
    background-color: #fff;
    color: rgb(85 85 85 / 100%);

    &.active {
      background-color: $sireneviy;
      color: #fff;
    }
  }

  .icon-wrapper {
    display: flex;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(17 98 125 / 8%);
  }

  .poster {
    margin-top: 40px;
    background-position: center;
    background-size: cover;

    @include xxxl {
      padding: 54px;
    }

    @include md {
      padding: 40px;
    }

    @include sm {
      padding: 60px 20px 40px 20px;
    }

    @include xs {
      padding: 60px 16px 40px 16px;
    }

    &-title {
      @include RomulH2();
      color: #fff;
    }

    .subtitle {
      @include font(1, 24, 34);

      @media (max-width: map_get($breakpoints, lg)) {
        @include font(1, 20, 26);
      }

      @media (max-width: map_get($breakpoints, sm)) {
        @include font(1, 16, 20);
      }

      max-width: 300px;
      margin-top: 40px;
      color: #fff;
    }

    .cards {
      display: flex;
      margin-top: 134px;
      gap: 20px;

      @media (max-width: map-get($breakpoints, md)) {
        flex-direction: column;
      }

      .card {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 36px;
        background-color: #fff;
        gap: 16px;

        @media (max-width: map-get($breakpoints, md)) {
          padding: 16px;
        }

        .card-title {
          @include RomulH5();
        }
      }
    }
  }

  .poster-meta {
    display: flex;
    justify-content: space-between;
    background-color: $sireneviy;
    flex-direction: row;

    @include xl {
      padding: 38px 54px;
    }

    @include lg {
      padding: 24px 40px;
    }

    @include md {
      padding: 40px;
    }

    @include sm {
      padding: 36px 20px;
    }

    @include xs {
      padding: 36px 16px;
    }

    @media (max-width: map-get($breakpoints, md)) {
      flex-direction: column;
    }

    &__title {
      @include RomulH4();
      color: #fff;
    }

    & button {
      @media (max-width: map-get($breakpoints, md)) {
        margin-top: 36px;
      }

      @media (max-width: map-get($breakpoints, sm)) {
        margin-top: 24px;
      }

      @include font(1, 16, 24);

      padding: 12px 36px;
      text-transform: uppercase;
    }
  }

  .variants {
    margin-top: 110px;

    .title {
      @include blockHeadBottomIndent();
    }

    .variant-items {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .variant-row {
      display: flex;
      gap: 24px;

      @media (max-width: map-get($breakpoints, md)) {
        min-height: 283px;
        gap: 0;
      }

      .cover {
        background-position: center;
        background-size: cover;
      }

      .meta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        background-color: #fff;
        gap: 77px;

        @media (max-width: map-get($breakpoints, xl)) {
          gap: 49px;
        }

        @media (max-width: map-get($breakpoints, lg)) {
          gap: 39px;
        }


        &__title {
          @include RomulH4();
          margin-bottom: 40px;

          @include bp-xl {
            margin-bottom: 36px;
          }

          @include bp-sm {
            margin-bottom: 24px;
          }

          & span {
            color: $accent-blue;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;

          &-inner {
            display: flex;
            flex-direction: column;
            gap: 40px;

            &__caption {
              @include font(1, 16, 22);

              margin-bottom: 58px;

              @include bp-xl {
                margin-bottom: 54px;
              }

              @include bp-lg {
                margin-bottom: 44px;
              }

              @include bp-md {
                margin-bottom: 40px;
              }
            }

            &__phone {
              @include font(1, 24, 34);

              color: $accent-blue;
            }
          }
        }

        &__description {
          @include font(1, 16, 22);
          color: $grey-text;
        }

        &__description-wrapper {
          display: flex;
          align-items: center;
          gap: 24px;
          margin-bottom: 77px;

          @include bp-xl {
            margin-bottom: 49px;
          }

          @include bp-lg {
            margin-bottom: 39px;
          }

          @include bp-md {
            margin-bottom: 57px;
          }

          @include bp-sm {
            margin-bottom: 36px;
          }
        }

        &__pages {
          @include font(1, 16, 22);

          color: #B5B9BE;
          letter-spacing: 2px;

          & span {
            color: $accent-blue;
          }
        }

        &-buttons {
          display: flex;
          gap: 20px;

          &__bordered {
            border: 1px solid $grey-stroke;
          }
        }
      }

      &:nth-child(odd) {
        @media (max-width: map-get($breakpoints, md)) {
          flex-direction: column;
        }

        .cover {
          flex: 0 0 60%;

          @media (max-width: map-get($breakpoints, xl)) {
            background-position: -150px center;
            flex: 0 0 30%;
          }

          @media (max-width: map-get($breakpoints, md)) {
            background-position: center;
            min-height: 360px;
            flex: 1;
          }
        }

        .meta {
          flex: 1;
        }
      }

      &:nth-child(even) {
        @media (max-width: map-get($breakpoints, md)) {
          flex-direction: column-reverse;
        }

        .cover, .meta {
          flex: 1;
        }
      }
    }
  }
}
