.payment-methods {
  overflow-x: hidden;

  @layer base {
    padding: 80px 0px 60px 0px;

    .header_content {
      padding: 0 16px 0 16px;
    }
  }

  @include sm {
    padding-top: 90px;
    padding-bottom: 90px;

    .header_content {
      padding: 0 20px 0 20px;
    }
  }

  @include md {
    .header_content {
      padding: 0 40px 0 40px;
    }
  }

  @include lg {
    padding-top: 130px;
    padding-bottom: 90px;
  }

  @include xl {
    padding-top: 142px;
    padding-bottom: 90px;
    .header_content {
      padding: 0 40px 0 142px;
    }
  }

  @include xxl {
    padding-top: 142px;
    padding-bottom: 90px;
    .header_content {
      padding: 0 40px 0 170px;
    }
  }

  @include xxxl {
    .header_content {
      padding: 0 40px 0 196px;
    }
  }

  .title {
    @include RomulH3();
    color: $deep-blue !important;
  }

  .head_title {
    color: $deep-blue !important;
  }

  .tabs_section {
  }

  .tabs {
    @layer base {
      display: flex;
      gap: 8px;

      overflow-x: auto;

      button {
        white-space: nowrap;
      }
    }
  }

  .tabs_container {
    display: flex;
    gap: 8px;
  }
  .tab-button {
    @include font(1, 16, 14);

    flex: 0 0 auto;
    width: fit-content;

    padding: 16px 20px;
    border-radius: 6px;
    background-color: #fff;
    color: rgb(85 85 85 / 100%);

    &.active {
      background-color: $sireneviy;
      color: #fff;
    }
  }

  .icon-wrapper {
    display: flex;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(17 98 125 / 8%);
  }

  .poster_container {
    @layer base {
      margin: 0;
    }

    @include sm {
      margin: 0 20px;
    }

    @include md {
      margin: 0 40px;
    }

    @include xl {
      margin: 0 40px 0 142px;
    }

    @include xxl {
      margin: 0 40px 0 170px;
    }
    @include xxxl {
      margin: 0 40px 0 196px;
    }
  }
  .poster.poster_full_payment {
    background:
      linear-gradient(155deg, rgba(0, 0, 0, 0.4) 23.02%, rgba(0, 0, 0, 0) 104.22%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
      url('/content/payment-methods/full-payment-poster.jpeg') !important;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    @include sm {
      background-image: none !important;
      background:
        linear-gradient(155deg, rgba(0, 0, 0, 0.4) 23.02%, rgba(0, 0, 0, 0) 104.22%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
        url('/content/payment-methods/full-payment-poster.jpeg')  !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
  }
  .poster {
    margin-top: 40px;
    background-size: cover;
    background-image: linear-gradient(90deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 0%) 100%),
      url('/content/payment-methods/poster_mobile.jpg');
    background-position: center;

    @layer base {
      padding: 60px 16px 40px 16px;
    }

    @include xxl {
      padding: 54px;
    }

    @include md {
      padding: 40px;
    }

    @include sm {
      padding: 60px 20px 40px 20px;
      background-image: linear-gradient(90deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 0%) 100%),
        url('/content/payment-methods/poster.jpeg') !important;
    }

    @include xs {
      padding: 60px 16px 40px 16px;
    }

    &-title {
      @layer base {
        @include font(3, 40, 50);
      }

      @include md {
        @include font(3, 52, 58);
      }

      @include xl {
        @include font(3, 64, 80);
      }

      color: #fff;
    }

    .subtitle {
      @layer base {
        @include font(1, 16, 20);
        max-width: 300px;
        color: #fff;
        padding-top: 24px;
        width: 50%;
      }

      @include md {
        @include font(1, 20, 26);
      }

      @include xl {
        @include font(1, 24, 34);
      }

      @include xxxl {
        padding-top: 40px;
      }
    }

    .cards {
      display: flex;
      gap: 20px;

      @layer base {
        margin-top: 110px;
        flex-direction: column;
      }

      @include lg {
        flex-direction: row;
      }

      .card {
        display: flex;
        flex: 1;
        align-items: center;

        background-color: #fff;
        gap: 16px;

        @layer base {
          padding: 14px 16px;

          .card-title {
            @include font(3, 18, 26);
          }
        }

        @include md {
          padding: 16px;
          .card-title {
            @include font(3, 20, 30);
          }
        }

        @include xl {
          padding: 24px 36px;
          .card-title {
            @include font(3, 24, 36);
          }
        }
        @include xxxl {
          padding: 36px;
        }
      }
    }
  }

  .poster-meta {
    display: flex;
    justify-content: space-between;
    background-color: $sireneviy;

    .tab-button {
      text-transform: uppercase;
    }

    @layer base {
      padding: 40px 16px;
      text-transform: uppercase;
      flex-direction: column;
      gap: 24px;
    }

    @include xl {
      padding: 38px 54px;
      gap: 60px;
    }

    @include lg {
      padding: 24px 40px;
      flex-direction: row;
      align-items: center;
      .tab-button {
        min-width: auto !important;
        padding: 12px 36px !important;
        line-height: 24px !important;
        height: fit-content;
      }
    }

    @include md {
      padding: 40px;
      gap: 36px;
    }

    @include sm {
      padding: 36px 20px;
    }

    @include xs {
      padding: 40px 16px;
    }

    &__title {
      @include RomulH4();
      color: #fff;
    }

    & button {
      @include font(1, 16, 24);
      @layer base {
        min-width: 100%;
      }
    }
  }

  .variants {
    @layer base {
      padding: 70px 16px 0 16px;

      .head_icon {
        display: block;
      }

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    @include sm {
      padding: 80px 20px 0 20px;
    }

    @include md {
      padding: 90px 40px 0 40px;

      .head_icon {
        display: none;
      }
    }

    @include xl {
      padding: 90px 40px 0 142px;
    }

    @include xxl {
      padding: 110px 40px 0 170px;
    }

    @include xxxl {
      padding: 110px 40px 0 196px;
    }

    .title {
      @include blockHeadBottomIndent();
    }

    .variant-items {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .variant-row {
      display: flex;

      @layer base {
        flex-direction: column;
      }

      @include lg {
        gap: 24px;
        .cover {
          width: 100%;
          max-width: 299px;
        }
      }

      @include xl {
        gap: 24px;
        .cover {
          width: 100%;
          max-width: 384px;
          min-height: 400px;
        }
      }

      @include xxl {
        gap: 24px;
        .cover {
          width: 100%;
          max-width: 618px;
          min-height: 500px;
        }
      }

      @include xxxl {
        gap: 24px;
        .cover {
          width: 100%;
          min-width: 907px;
          min-height: 500px;
        }
      }

      .cover {
        background-position: top !important;
        background-size: cover;

        @layer base {
          min-height: 220px;
        }

        @include sm {
          min-height: 300px;
        }

        @include md {
          min-height: 283px;
        }
      }

      .meta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: #fff;

        @layer base {
          padding: 24px 16px;
          gap: 36px;
        }

        @include md {
          padding: 24px 16px;
          gap: 57px;
        }

        @include lg {
          padding: 24px 16px;
          gap: 39px;
        }

        @include xl {
          width: 100%;
        }

        &__title {
          @include RomulH4();
          margin-bottom: 40px;
          color: $grey;

          @include bp-xl {
            margin-bottom: 36px;
          }

          @include bp-sm {
            margin-bottom: 24px;
          }

          & span {
            color: $accent-blue;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;

          .icon_box {
            @layer base {
              display: none;
            }
            @include md {
              display: block;
            }
          }

          &-inner {
            display: flex;
            flex-direction: column;
            @layer base {
              gap: 24px;
            }

            &__caption {
              @include font(1, 16, 22);

              @layer base {
                margin-bottom: 24px;
              }

              @include xxl {
                margin-bottom: 36px;
              }
            }

            &__phone {
              @include font(1, 24, 34);

              color: $accent-blue;
            }
          }
        }

        &__description {
          @include font(1, 16, 22);
          color: $grey-text;
        }

        &__description-wrapper {
          display: flex;
          align-items: center;
          gap: 24px;
          margin-bottom: 77px;

          @include bp-xl {
            margin-bottom: 49px;
          }

          @include bp-lg {
            margin-bottom: 39px;
          }

          @include bp-md {
            margin-bottom: 57px;
          }

          @include bp-sm {
            margin-bottom: 36px;
          }
        }

        &__pages {
          @include font(1, 16, 22);

          color: #b5b9be;
          letter-spacing: 2px;

          & span {
            color: $accent-blue;
          }
        }

        &-buttons {
          display: flex;
          gap: 16px;

          @layer base {
            flex-direction: column;
          }

          @include md {
            flex-direction: row;
            gap: 16px;
          }

          &__bordered {
            border: 1px solid $grey-stroke;
          }
        }
      }

      &:nth-child(odd) {
        @include lg {
          flex-direction: row;
        }

        .meta {
          flex: 1;
        }
      }

      &:nth-child(even) {
        @include lg {
          flex-direction: row-reverse;
        }
      }
    }
  }

  .make_ticket_wrapper {
    @layer base {
      padding: 70px 16px 0 16px;
    }

    @include sm {
      padding: 80px 20px 0 20px;
    }

    @include md {
      padding: 90px 40px 0 40px;
    }

    @include xl {
      padding: 90px 40px 0 142px;
    }
    @include xxl {
      padding: 110px 40px 0 170px;
    }
    @include xxxl {
      padding: 110px 40px 0 196px;
    }
  }
}

.send_button {
  @include lg {
    min-width: auto !important;
  }
}

.container {
  @layer base {
    margin: 0;
  }
  @include sm {
    margin: 0 20px;
  }
  @include md {
    margin: 0 40px;
  }

  @include xl {
    margin: 0 40px 0 142px;
  }

  @include xxl {
    margin: 0 40px 0 170px;
  }

  @include xxxl {
    margin: 0 40px 0 196px;
  }
}
