.ticketForm {
  @layer base {
    display: flex;
    flex-direction: column;
    padding: 36px 16px;
    background: rgb(255 255 255 / 100%);
    color: rgb(116 118 121 / 100%);
    gap: 24px;
  }

  @include lg {
    padding: 70px;
    gap: 70px
  }
}

.header__title {
  @layer base {
    @include font(1, 16, 20);
  }

  @include lg {
    @include font(1, 24, 34);
  }
}


.info {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .input {
    @include font(1, 16, 18);

    display: block;
    padding: 15px;
    border: 1px solid rgb(205 208 211 / 100%);
    border-radius: 6px;
    background-color: transparent;

    &::placeholder {
      color: rgb(205 208 211 / 100%);;
    }
  }

  .caption {
    @include font(1, 12, 14, 300);

    & a {
      text-decoration: underline;
    }
  }
}

