.ticketForm {
  @layer base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255 255 255 / 100%);
    color: rgb(116 118 121 / 100%);
  }
}

.header__title {
  @layer base {
    @include font(1, 14, 18);

    padding-bottom: 36px;
  }

  @include sm {
    padding-bottom: 40px;
  }

  @include md {
    max-width: 530px;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .input-wrapper.margin {
    margin-top: 24px; 
  }

  .sendButton {
    margin-top: 36px;
  }

  .input {
    @include font(1, 16, 18);

    display: block;
    padding: 15px;
    border: 1px solid rgb(205 208 211 / 100%);
    border-radius: 6px;
    background-color: transparent;

    &::placeholder {
      color: rgb(205 208 211 / 100%);
    }
  }

  .caption {
    @include font(1, 12, 14, 400);

    margin-top: 36px;
    color: 747679;

    & a {
      text-decoration: underline;
      display: inline !important;
      color: inherit;
    }
  }
}
