@import '../../../../../../../scss/variables';
@import '../../../../../../../fonts/fonts';

.container {
  display: flex;
  width: 100%;
  max-width: 1530px;
  height: fit-content;
  flex-direction: column;
  gap: 57px;

  &_mobile {
    padding-right: 20px;
    padding-left: 20px;

    @include custom(0, map-get($breakpoints, md) - 1px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include custom(0, 1150px) {
    gap: 50px;
  }

  p {
    @include font(3, 24, 15);

    color: #fdf1cd;
  }

  span {
    @include font(1, 20, 26, 400);
  }

  a {
    @include font(1, 20, 26, 400);
  }
}

.romul_text {
  font-family: $font-romul;
  font-weight: 400;
  text-transform: uppercase;
}

.main_accordion_box {
  position: relative;
  width: 100%;
  max-width: 100%;
  transition: all 0.3s;

  .accordeon_inner_about {
    display: flex;
    flex-direction: column;
    padding: 12px 0;

    li {
      display: flex;
      align-items: center;
      padding: 8px 0;
      gap: 20px;

      .accordeon_inner_item_image {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  &_active {
    position: relative;
    transition: all 0.3s;

    .active_bg_line {
      position: absolute;
      top: 0;
      left: -10%;
      width: 130vw;
      height: 85%;
      max-height: 53px;
      background-color: #26394580;
      content: '';
      transition: all 0.3s;
    }
  }
}

.accordion_header_active {
  & > div:first-child {
    margin-bottom: 12px;
  }
}

.accordion_header:nth-child(2) {
  text-decoration: none !important;
}

.extra_box {
  gap: 8px;
}

.accordion_mobile_box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.accordion_mobile_100 {
  width: 100%;
}

.text_transform {
  text-transform: none;
}

.accordion_mobile_list_default {
  display: flex;
  flex-direction: column;

  & > li {
    padding: 6px 0;
    color: #fff;

    & > a {
      font-size: 18px !important;
      line-height: 26px;
      text-transform: none;
    }
  }
}

@include custom(0, map-get($breakpoints, sm) - 1px) {
  .accordion_mobile_box {
    gap: 18px;
  }

  .container {
    gap: 25px;
  }

  .time_block {
    margin-top: 4px;
    margin-bottom: 46px;
  }

  .active_bg_line {
    max-height: 45px !important;
  }

  .accordion_mobile_list_default {
    & > li > a {
      font-size: 14px !important;
    }

    & > li {
      font-size: 14px !important;
    }
  }
}
