.borderedButton {
  @include font(1, 14--14, 13--13);

  padding: 17px 0;
  border: 1px solid $accent-color;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;

  @layer base {
    width: 100%;
  }
}
