.title {
  @include RomulH3;

  @layer base {
    display: flex;
    width: 100%;
    height: 240px;
    align-items: end;
    padding: 20px 16px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/payment-methods/form.png') no-repeat;
    background-position-y: 65%;
    background-size: 100%;
    color: #FFF;
    word-wrap: break-word;
  }

  @include lg {
    height: 570px;
    align-items: start;
    padding-bottom: 40px;
    background: none;
  }

  @media (max-width: map_get($breakpoints, xl)) {
    height: 500px;
  }

  @media (max-width: map_get($breakpoints, lg)) {
    height: 458px;
    padding: 40px;
    background-position: 30% center;
    background-size: cover;
  }

  @media (max-width: map_get($breakpoints, sm)) {
    height: 300px;
    padding: 24px 20px;
  }

  @media (max-width: map_get($breakpoints, xs)) {
    height: 240px;
  }
}


.inner-wrapper {
  margin-top: 110px;

  @layer base {
    display: flex;
    flex-direction: column;
  }

  @include lg {
    flex-direction: row;
    padding: 40px;
    margin-bottom: 110px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/payment-methods/form.png') no-repeat;
    background-position: center;
    background-size: cover;
    gap: 40px;
  }

  @media (max-width: map_get($breakpoints, xl)) {
    padding: 20px;
  }


  @media (max-width: map_get($breakpoints, lg)) {
    padding: 0;
  }

  @media (max-width: map_get($breakpoints, xxl)) {
    margin-bottom: 90px;
  }
}