.title {
  @layer base {
    @include font(3, 30, 40);
    position: static;
    display: flex;
    width: 100%;
    height: 240px;
    align-items: end;
    padding: 20px 16px;
    margin: 0;
    background:
      linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%),
      url('/content/payment-methods/form.png') no-repeat;
    background-position: 28%;
    background-size: cover;
    color: #fff;
    word-wrap: break-word;
  }

  @include sm {
    padding: 24px 20px;
    height: 300px;
  }

  @include md {
    padding: 40px;
    height: 458px;
    font-size: 46px;
    line-height: 50px;
  }

  @include lg {
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    align-items: start;

    background:
      linear-gradient(285deg, rgba(0, 0, 0, 0) 59.46%, rgba(0, 0, 0, 0.4) 84.87%),
      url('/content/payment-methods/form.png') lightgray -246.884px 0px / 152.306% 100.625% no-repeat;
    background-size: cover;
  }

  @include xl {
    background:
      linear-gradient(285deg, rgba(0, 0, 0, 0) 59.46%, rgba(0, 0, 0, 0.4) 84.87%),
      url('/content/payment-methods/form.png') lightgray -201.14px 0px / 136.637% 100.8% no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include xxl {
  }
}

.inner-wrapper {
  margin-top: 110px;

  @layer base {
    display: flex;
    flex-direction: column;
  }

  @include lg {
    flex-direction: row;
    position: relative;
    padding: 20px;
    justify-content: flex-end;

    .form {
      max-width: 434px;
    }
  }

  @include xl {
    .form {
      max-width: 484px;
    }
  }

  @include xxl {
    padding: 40px;

    .form {
      max-width: 451px;
    }
  }

  @include xxxl {

    .form {
      max-width: 577px;
    }
  }
}
