@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button_extra {
  padding: 12px 0;
  border-radius: 6px !important;
}

.button_extra_2 {
  padding: 12px 36px;
  // width: fit-content !important;
  max-width: fit-content !important;
  min-width: auto;
  border-radius: 6px !important;

  @include custom(0, map-get($breakpoints, lg) - 1px) {
    max-width: 100% !important;
  }

  &>p {
    width: fit-content !important;
    max-width: fit-content !important;
  }

}

.steps-for-buy {
  margin-top: 110px;

  @media (max-width: 1280px) {
    margin-top: 90px;
  }

  @media (max-width: 480px) {
    margin-top: 80px;
  }

  @media (max-width: 320px) {
    margin-top: 70px;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include blockHeadBottomIndent();

    &-title {
      @include RomulH3();
      color: $deep-blue !important;
    }

    &-arrow-group {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &-slider {
    @layer base {
      position: relative;

      &-wrapper {
        display: flex;
        margin-left: calc(20px * -1);
      }

      &-pagination {
        height: 31px;
        bottom: 0;

        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        &-active {
          border-radius: 40px !important;
          background-color: #3c8ca6 !important;
          width: 25px !important;
        }

        &-bullet {
          width: 15px;
          height: 15px;
          border: none;
          border-radius: 100%;
          background-color: #11627d4d;
          transition: 200ms;

          &:not(:last-child) {
            margin-right: 16px !important;
          }
        }
      }

      @include xxl {
        &-pagination {
          display: none !important;
        }
      }
    }
  }

  &-slide {
    @layer base {
      overflow: hidden;

      background: #ffffff;

      flex: 0 0 87%;

      padding: 20px;
      margin-left: 20px;

      height: 320px;

      display: flex;
      flex-direction: column;

      &-title {
        @include font(3, 22, 34);
      }

      &-count {
        background-color: #11627d14;
        color: #11627d;

        border-radius: 100%;

        width: 48px;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: auto;
      }

      .button_wrapper {
        padding-top: 24px;
      }

      &-button {}
    }

    @include sm {
      flex: 0 0 70%;
    }

    @include md {
      padding: 24px;
      flex: 0 0 55%;
      height: 380px;

      &-title {
        @include font(3, 26, 36);
      }

      .button_wrapper {
        padding-top: 40px;
      }

      &-count {
        margin-bottom: auto;
      }
    }

    @include lg {
      padding: 24px 24px 36px 24px;
      flex: 0 0 42%;
      height: 380px;

      &-title {
        @include font(3, 26, 36);
      }

      .button_wrapper {
        padding-top: 40px;
      }

      &-count {
        margin-bottom: auto;
      }
    }

    @include xl {
      padding: 40px;
      flex: 0 0 42%;
      height: 441px;

      &-title {
        @include font(3, 32, 44);
      }

      button span {
        font-size: 16px;
        line-height: 24px;
      }
    }

    @include xxl {
      padding: 40px;
      flex: 0 0 32%;
    }

    @include xxxl {
      padding: 40px;
      flex: 0 0 29%;
    }
  }
}

.content_container {
  @layer base {
    margin: 0 20px;
  }

  @include sm {
    margin: 0 20px;
  }

  @include md {
    margin: 0 40px;
  }

  @include xl {
    margin: 0 40px 0 142px;
  }

  @include xxl {
    margin: 0 40px 0 170px;
  }

  @include xxxl {
    margin: 0 40px 0 196px;
  }
}

.unVisible{
  opacity: 0; // По умолчанию скрыто
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 1;
}
