$animation-loader-fade: 0.5s;
$animation-half-loader: 4.5s;
$animation-text-iteration: 1.5s;
$animation-loader-with-fade: calc($animation-loader-fade + $animation-half-loader);
$animation-fade-out: 0.5s;
$animation-full: calc($animation-loader-with-fade + $animation-fade-out);

.wrapper {
  @keyframes wrapper {
    1% {
      background: #fff;
    }

    100% {
      z-index: 0;
      display: none;
      background: transparent;
    }
  }

  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: wrapper 0s $animation-full forwards;
}

.logo {
  position: absolute;
  top: 0;
  left: 42px;
  width: 76.5px;
  height: 160.65px;
  animation: logo $animation-fade-out linear $animation-loader-with-fade forwards;

  @keyframes logo {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @include mobile {
    display: none;
  }

  &-mob {
    position: absolute;
    top: 0;
    left: 24px;
    width: 44px;
    height: 90px;
    animation: logo $animation-fade-out linear $animation-loader-with-fade forwards;
    background-color: #fff;
  }
}

.loader {
  position: absolute;
  bottom: 35%;
  left: 15%;

  @include mobile {
    bottom: 25%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes progress-line {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.progress {
  position: absolute;
  display: flex;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 4px solid #11627d;
  border-radius: 50%;
  animation:
    fade $animation-loader-fade linear forwards,
    progress-line $animation-half-loader linear $animation-loader-fade forwards;
  transform: rotate(45deg);

  @include mobile {
    width: 75px;
    height: 75px;
  }

  &::before {
    position: absolute;
    box-sizing: border-box;
    border: 4px solid $korichneviy;
    border-radius: 50%;
    animation:
      fade $animation-loader-fade linear forwards,
      progress $animation-half-loader linear $animation-loader-fade;
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    content: '';
    inset: -4px;
  }
}

.icon {
  animation:
    fade $animation-loader-fade linear forwards,
    rotate calc($animation-loader-fade + $animation-half-loader) linear forwards;
  contain: layout paint;
  content: url('/map/compass-loader.svg');

  @keyframes rotate {
    0% {
      height: 100px;
      transform: rotate(-45deg) rotate3d(0, 1, 0, -270deg);
    }

    35% {
      opacity: 1;
    }

    39% {
      height: 100px;
      content: url('/map/compass-loader.svg');
    }

    40% {
      height: 52px;
      content: url('/map/wave-loader.svg');
      opacity: 0;
      transform: rotate(-45deg) rotate3d(0, 1, 0, 90deg);
    }

    65% {
      opacity: 1;
    }

    69% {
      height: 52px;
      content: url('/map/wave-loader.svg');
    }

    70% {
      height: 64px;
      content: url('/map/sail-loader.svg');
      opacity: 0;
      transform: rotate(-45deg) rotate3d(0, 1, 0, 450deg);
    }

    75% {
      opacity: 1;
    }

    100% {
      height: 64px;
      content: url('/map/sail-loader.svg');
      transform: rotate(-45deg) rotate3d(0, 1, 0, 720deg);
    }
  }

  @keyframes rotate-mob {
    0% {
      height: 48px;
      transform: rotate(-45deg) rotate3d(0, 1, 0, -270deg);
    }

    35% {
      opacity: 1;
    }

    39% {
      height: 48px;
      content: url('/map/compass-loader.svg');
    }

    40% {
      height: 28px;
      content: url('/map/wave-loader.svg');
      opacity: 0;
      transform: rotate(-45deg) rotate3d(0, 1, 0, 450deg);
    }

    65% {
      opacity: 1;
    }

    69% {
      content: url('/map/wave-loader.svg');
    }

    70% {
      height: 28px;
      content: url('/map/sail-loader.svg');
      opacity: 0;
      transform: rotate(-45deg) rotate3d(0, 1, 0, 810deg);
    }

    75% {
      opacity: 1;
    }

    100% {
      height: 28px;
      content: url('/map/sail-loader.svg');
      transform: rotate(-45deg) rotate3d(0, 1, 0, 1440deg);
    }
  }

  @include mobile {
    animation:
      fade $animation-loader-fade linear forwards,
      rotate-mob calc($animation-loader-fade + $animation-half-loader) linear forwards;
  }
}

.text {
  @keyframes text {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @include font(3, 18--15, 32--18);

  position: absolute;
  width: 100%;
  opacity: 0;

  &-first {
    animation: text $animation-text-iteration linear $animation-loader-fade;
  }

  &-second {
    animation: text $animation-text-iteration linear calc($animation-loader-fade + $animation-text-iteration);
  }

  &-third {
    animation: text calc($animation-full - $animation-loader-fade - $animation-fade-out - $animation-text-iteration * 2)
      linear calc($animation-loader-fade + $animation-text-iteration * 2);
  }

  &-wrapper {
    position: relative;
    top: -65px;
    left: 180px;
    width: 483px;
    color: white;

    @include mobile {
      top: -90px;
      left: 45px;
      max-width: 300px;
    }
  }
}

.image {
  @keyframes image {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  position: relative;
  z-index: -1;
  animation: image calc($animation-fade-out) linear $animation-loader-with-fade forwards;
}
