.header {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 96px;
  padding: 0 40px;
  backdrop-filter: blur(11px);
  background-color: rgb(255 255 255 / 70%);
  color: #555;
  transition: background-color 0.2s ease-in-out;

  .alignRight {
    margin-left: auto !important;
  }

  .dark {
    color: #fff !important;
  }

  &.menuOpened {
    padding: 0 30px 0 40px !important;
    background-color: #11627d;

    .container,
    .container a {
      color: #fff;

      .toggleMenuButton {
        margin-left: 42px;
      }
    }

    .logoutButton {
      path {
        fill: #fff;
        transition: fill 0.2s ease-in-out;
      }
    }

    .menu {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;

    .logo {
      height: 100%;
    }

    .personalCabinetLink {
      margin-left: 74px;
      text-transform: uppercase;
    }

    .phoneLink {
      margin-left: 40px;
    }

    .phoneIcon {
      display: none;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      color: #fff;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .logoutButton {
      display: flex;
      width: auto;
      height: 100%;
      aspect-ratio: 1/1;
    }

    .compareLink {
      margin-left: auto;

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    .favoriteLink {
      margin-left: 40px;

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    .findApartment {
      margin-left: 40px;
    }

    .toggleMenuButton {
      margin-left: 54px;
    }
  }

  .mobileMenu {
    display: none;
    width: 100%;
    height: 48px;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;

    .mobilePersonalCabinetLink {
      min-width: 200px;
      height: 48px;
      flex: 0 0 0 48px;
      flex-grow: 1;
      border-radius: 6px;
      margin-left: 20px;
      background-color: rgb(255 255 255 / 16%);
      color: #fff;

      .a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    .mobileCompareLink,
    .mobielFavoriteLink {
      display: flex;
      width: 48px;
      height: 48px;
      flex: 0 0 0 48px;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background-color: rgb(255 255 255 / 16%);
      color: #fff;

      svg {
        width: 24px;
        height: 24px;
        margin-top: 2px;
        margin-left: 2px;
      }

      span {
        margin-left: 6px;
      }
    }
  }

  .menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #11627d;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      transform 0.6s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

@include custom(0, map-get($breakpoints, xl)) {
  .header {
    height: 86px;
  }

  .findApartment {
    display: none;
  }

  .toggleMenuButton {
    > div {
      width: 36px;
      height: 36px;

      button > svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@include custom(0, map-get($breakpoints, lg)) {
  header.header.menuOpened {
    padding: 0 40px !important;
  }

  .header {
    height: 68px;

    .container {
      // .logo svg {
      //   width: 74px;
      //   height: 134px;
      // }

      .phoneLink {
        margin-left: auto;
      }
    }
  }

  .personalCabinetLink,
  .compareLink,
  .favoriteLink {
    display: none;
  }

  .toggleMenuButton {
    > div {
      width: 36px;
      height: 36px;

      button > svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@include custom(0, map-get($breakpoints, md)) {
  header.header.menuOpened {
    padding: 0 20px !important;
  }

  .header.menuOpened {
    .mobileMenu {
      display: flex;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include custom(0, map-get($breakpoints, sm)) {
  header.header {
    padding: 0 16px !important;

    .phoneLink {
      display: none !important;
    }

    .phoneIcon {
      display: flex !important;
      color: #555 !important;
    }

    .toggleMenuButton {
      margin-left: 36px !important;
    }
  }

  header.header.menuOpened {
    .phoneIcon {
      color: #fff !important;
    }
  }
}
