.form_container {
  padding: 0 !important;

}

@layer base {
  .popup {
    .head {
      display: flex;
      justify-content: flex-end;
    }

    .headClose {
      margin: 16px 16px 0 0 !important;
    }

    .content {
      padding: 0 16px;
      padding-top: 10px;
    }

    .form {
      padding: 0;
    }

    .title {
      color: #555;
      @include font(3, 30, 40);
      padding-bottom: 16px;
    }
  }
}

@include sm {
  .popup {
    .title {
      @include font(3, 36, 50);
      padding-bottom: 24px;
      max-width: 530px;
    }

    .content {
      padding: 0 20px;
      padding-top: 20px;
    }
  }
}

@include md {
  .popup {
    .title {
      @include font(3, 36, 50);
      padding-bottom: 24px;
      max-width: 530px;
    }

    .content {
      padding: 0 40px;
      padding-top: 20px;
    }
  }
}

@include xl {
  .popup {
    .title {
      @include font(3, 42, 54);
    }
  }
}
