.download {
  @layer base {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

  }
}

.text {
  @layer base {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    div {
      @include font(1, 16, 20, 400);
    }

    p {
      @include font(1, 12, 14);
      color: #A0A3A8;
    }
  }

  @include md {
    div {
      @include font(1, 20, 26, 400);
    }
  }

  @include xl {
    div {
      @include font(1, 24, 34, 400);
    }
  }

}

