.head-title {
  @include RomulH3();

  margin-top: 36px;
  @media (max-width: map_get($breakpoints, lg)) {
    margin-top: 24px;
  }

  margin-bottom: 60px;
  @media (max-width: map_get($breakpoints, xl)) {
    margin-bottom: 40px;
  }
}
