.head-wrapper {
  @layer base {
    //position: relative;
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 124px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/content/storerooms/storerooms_1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 100px;
    overflow: hidden;
  }

  .container {
    @include content-container;
  }

  .title {
    @layer base{
      @include font(3, 44, 54, 400);
    }

    @include desktop{
      @include font(3, 124, 150, 400);
    }
  }

  .description {
    @layer base{
      @include font(3, 16, 20, 400);
    }

    @include desktop{
      @include font(1, 24, 34);
    }

    max-width: 780px;
    margin-top: 12px;
  }
}
