.head-wrapper {
  @layer base {
    //position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/content/storerooms/storerooms_1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    padding: 90px 16px 40px 16px;
  }

  @include sm{
    padding: 90px 20px 90px 20px;
  }

  @include md{
    padding: 130px 40px 90px 40px;
  }

  @include lg{
    padding: 130px 40px 60px 40px;
  }

  @include xl{
    padding: 130px 40px 60px 142px;
  }

  @include xxl{
    padding: 130px 40px 60px 170px;
  }
}

.title {
  @layer base{
    @include font(3, 44, 54, 400);
  }

  @include md{
    @include font(3, 90, 100, 400);
  }

  @include xl{
    @include font(3, 124, 150, 400);
  }
}

.description {
  @layer base {
    max-width: 780px;
    @include font(1, 16, 20, 400);
  }
  @include md {
    @include font(1, 20, 26, 400);
  }

  @include xl {
    @include font(1, 24, 34);
  }
}

.router{
  @layer base {
    display: flex!important;
    @include font(3, 14, 20, 400);
    align-items: center;
  }
}

.text-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
