.stocks-detail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @layer base {
    padding: 80px 16px 70px 16px;
  }

  @include sm {
    padding: 90px 20px 80px 20px;
  }

  @include md {
    padding: 90px 40px 90px 40px;
  }

  @include lg {
    padding-top: 130px;
  }

  @include xl {
    padding: 142px 142px 90px 142px;
  }

  @include xxl {
    padding: 142px 297px 110px 297px;
  }

  @include xxl {
    padding: 142px 349px 110px 349px;
  }

  &__title {
    margin-bottom: 24px;
    color: #213c4e;

    @include bp-sm {
      margin-bottom: 16px;
    }
  }

  &__tag {
    padding: 6px 14px;
    background-color: rgba(39, 123, 151, 1);
    color: #ffffff;

    width: auto;

    @include font(1, 12, 14);
    margin-bottom: 40px;

    @include bp-xs {
      margin-bottom: 36px;
    }
  }

  &__plate {
    background-color: #ffffff;
  }

  &__content {
    @include font(1, 16, 22);
    color: #555;

    & > *:not(li) {
      margin-bottom: 18px;
      display: inline-block;
    }

    ol {
      @include ol-style;
    }

    &-wrapper {
      @include padding60;
    }
  }

  &__button-group {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 40px;

    @layer base {
      flex-direction: column-reverse;
      button {
        max-width: 100% !important;
      }
    }

    @include md {
      flex-direction: row;
      button {
        width: fit-content !important;
        padding-left: 36px !important;
        padding-right: 36px !important;
      }
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;

    border-color: #b5b9be !important;
    color: #555;

    height: 48px;

    gap: 10px;

    max-width: 208px;
  }

  &__backcall {
    max-width: 250px;
    background-color: #fd7628 !important;
  }

  &__footer {
    display: flex;
    align-items: center;

    @layer base {
      gap: 36px;
      flex-direction: column;
    }

    @include md {
      border-top: 1px solid #dfdfdf;
      flex-direction: row;
      justify-content: space-between;
    }

    @include padding60;

    &-socials {
      display: flex;
      flex-direction: column-reverse;

      &__caption {
        color: #555;
        line-height: 18px;

        @layer base {
        font-size: 14px;

        }

        @include xl {
          font-size: 16px;
        }
      }

      @layer base {
        align-items: center;
        gap: 16px;
      }

      @include bp-xxl {
        gap: 16px;
      }

      @include md {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      @include lg {
        flex-direction: row !important;
        align-items: center !important;
      }

      @include bp-sm {
        align-items: center;
      }

      &__list {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &-backcall {
      display: flex;
      gap: 24px;
      width: 100%;

      @layer base {
        justify-content: end;
        align-items: center;
        flex-direction: column;
      }

      @include md {
        gap: 16px;
        align-items: end;

        &__button {
          width: fit-content !important;
          padding-left: 36px !important;
          padding-right: 36px !important;
        }
      }

      @include lg {
        flex-direction: row;
        align-items: center;
      }

      &__caption {
        @layer base {
          color: #555;
          white-space: nowrap;
          font-size: 14px;
          line-height: 18px;
        }
        display: block;

        @include xl {
          font-size: 16px;
        }
      }

      &__button {
        width: 100%;
        max-width: 100% !important;
      }
    }
  }
}
