.content-wrapper {
  @layer base {
    padding: 0 16px;
  }

  @include sm{
    padding: 0 20px;
  }

  @include md{
    padding: 0 40px;
  }

  @include xl{
    padding: 0 40px 0 142px;
  }

  @include xxl{
    padding: 0 40px 0 170px;
  }

  @include xxxl{
    padding: 0 40px 0 196px;
  }
}

.title {
  @layer base {
    display: flex;
    align-items: end;
    color: #FFFFFF;
    width: 100%;
    height: 240px;
    padding: 20px 16px;
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_xs.png') no-repeat;
    background-size: 100% 100%;
    @include font(3, 30, 40, 400);
    word-wrap: break-word;
  }


  @include sm{
    height: 300px;
    padding: 24px 20px;

    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_sm.png') no-repeat;
    background-size: 100% 100%;
  }

  @include md{
    height: 484px;
    padding: 40px;

    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_md.png') no-repeat;
    background-size: 100% 100%;
  }

  @include lg {
    text-wrap: nowrap;
    padding: 20px 0;
    @include font(3, 42, 54, 400);
    height: 570px;
    background: none;
    align-items: start;
  }
}


.inner-wrapper {

  @layer base {
    display: flex;
    flex-direction: column;
  }

  @include lg {
    padding: 40px;
    gap: 10px;
    flex-direction: row;

    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_lg.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_xl.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xxl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_xxl.png') no-repeat;
    background-size: 100% 100%;
  }

  @include xxxl{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/basket_xxxl.png') no-repeat;
    background-size: 100% 100%;
  }
}


