.wrapper {
  background-color: #DCEBF1;

    @layer base {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  
    @include sm {
      gap: 60px;;
    }
  
    @include md {
      gap: 60px;
    }
  
    @include lg {
      gap: 80px;
    }
}

.transport_content {
    background-color: #11627D;

    @layer base {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  
    @include sm {
      gap: 60px;;
    }
  
    @include md {
      gap: 60px;
    }
  
    @include lg {
      gap: 80px;
    }

    // @layer base {
    //     padding-top: 70px;
    // }

    // @include sm {
    //     padding-top: 80px;;
    // }

    // @include md {
    //     padding-top: 90px;
    // }

    // @include xxl {
    //     padding-top: 110px;
    // }
}
  