.wrapper {
    @layer base {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }
  
    @include sm {
      gap: 80px;;
    }
  
    @include md {
      gap: 90px;
    }
  
    @include xxl {
      gap: 110px;
    }
}

.transport_content {
    background-color: #11627D;

    @layer base {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }
  
    @include sm {
      gap: 80px;;
    }
  
    @include md {
      gap: 90px;
    }
  
    @include xxl {
      gap: 110px;
    }

    // @layer base {
    //     padding-top: 70px;
    // }

    // @include sm {
    //     padding-top: 80px;;
    // }

    // @include md {
    //     padding-top: 90px;
    // }

    // @include xxl {
    //     padding-top: 110px;
    // }
}
  