.breadcrumbs {
  @layer base {
    align-items: center;
    gap: 10px;

    li span {
      @include font(1, 14, 14б 400);

      color: #555;
    }

    li a {
      text-align: center;

      &:hover {
        background-color: transparent !important;
        color: #555 !important;
      }
    }
  }
}

.backButton {
  all: unset;
  position: relative;
  left: 3px;
  cursor: pointer;
}

.dashboard {
  svg {
    path {
      fill: $korichneviy;
    }
  }
}

.dark * {
  color: #fff !important;
}

.fitContent {
  height: fit-content !important;
}

.desktop_version {
  @layer base {
    display: none;
  }

  @include md {
    display: block;
  }
}

.mobile_version {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    color: #555;
  }

  svg path {
    width: 18px;
    height: 18px;
    stroke: #555 !important;
  }

  @include md {
    display: none !important;
  }
}
