.breadcrumbs {
  @layer base {
    align-items: center;
    gap: 10px;

    li span {
      @include font(2, 14, 14);

      color: #555;
    }

    li a {
      text-align: center;

      &:hover {
        background-color: transparent;
        color: #555;
      }
    }
  }

  @include md{
    @include font(2, 12, 12);
  }
}

.backButton {
  all: unset;
  position: relative;
  left: 3px;
  cursor: pointer;
}

.dashboard {
  svg {
    path {
      fill: $korichneviy;
    }
  }
}

.dark * {
  color: #fff !important;
}


.fitContent{
  height: fit-content!important;
}
