.max_width {
  max-width: 370px;
}

.title_color {
  color: #fdf1cd;
}

.subtitle_color {
  color: #fff !important;
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @layer base {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 850px;
    max-height: 1000px;
    flex-direction: column;
    justify-content: end;
    padding: 40px 20px;
    background:
      linear-gradient(180deg, rgb(38 57 69 / 0%) 18.3%, rgb(38 57 69 / 47%) 49.35%, #263945 100%),
      linear-gradient(48deg, rgb(30 56 73 / 70%) 25.09%, rgb(30 56 73 / 0%) 100.35%),
      linear-gradient(44deg, rgb(30 56 73 / 50%) 4.95%, rgb(30 56 73 / 0%) 67.43%),
      url('/content/cluster.webp') lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
  }

  .caption_sub_title {
    @layer base {
      @include font(1, 16, 34, 200);

      color: $white;
    }
  }

  @include sm {
    padding: 40px 20px;
  }

  @include md {
    justify-content: space-between !important;
    padding: 90px 40px;
    background:
      linear-gradient(44deg, rgb(30 56 73 / 90%) 4.95%, rgb(30 56 73 / 0%) 67.43%),
      linear-gradient(90deg, #1e3849 -28.39%, rgb(0 0 0 / 0%) 93.62%),
      url('/content/cluster.webp') lightgray 50% / cover no-repeat;

    .caption_sub_title {
      font-size: 20px;
      line-height: 26px;
    }
  }

  @include lg {
    padding: 60px 0 60px 40px;
    background:
      linear-gradient(142deg, rgb(30 56 73 / 90%) 11.78%, rgb(30 56 73 / 0%) 55.41%),
      linear-gradient(90deg, #1e3849 0%, rgb(10 18 24 / 33%) 44.44%, rgb(0 0 0 / 0%) 74.06%),
      url('/content/cluster.webp') lightgray 50% / cover no-repeat;

    .caption_sub_title {
      font-size: 20px;
    }
  }

  @include xl {
    padding: 90px 0 64px 142px;

    .caption_sub_title {
      font-size: 24px;
    }
  }

  @include xxl {
    padding: 90px 0 26px 170px;
    background:
      linear-gradient(156deg, rgb(30 56 73 / 90%) 6.63%, rgb(30 56 73 / 0%) 43.47%),
      linear-gradient(90deg, #1e3849 0%, rgb(0 0 0 / 0%) 62.08%),
      url('/content/cluster.webp') lightgray 50% / cover no-repeat;
  }

  @include xxxl {
    padding: 130px 0 26px 190px;
    min-height: 900px;
  }
}

.captions {
  @layer base {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include sm {
    gap: 60px;
  }

  @include md {
    height: 100%;
    flex: 100%;
    justify-content: space-between;
  }

  @include lg {
    justify-content: start;
  }

  &-title {
    margin-bottom: 8px;

    @layer base {
      @include font(3, 30, 40, 400);

      color: $yellow-text;
    }

    @include md {
      @include font(3, 36, 50, 400);
    }

    @include xl {
      @include font(3, 42, 40, 400);
    }
  }
}

.caption-items {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include xl {
    gap: 48px;
  }
}

.caption {
  @layer base {
    position: relative;
    width: fit-content;

    & svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @include xs {
    max-width: none;
  }

  @include xl {
    width: 100%;
    max-width: 456px;
  }

  @include xxl {
    max-width: 350px;
  }

  &__title {
    @layer base {
      @include font(3, 22, 34, 400);

      br {
        display: none;
      }

      color: $yellow-text;

      &.number_title {
        @include font(3, 40, 50);
      }
    }

    @include sm {
      span br {
        display: block;
      }

      & span {
        @include font(3, 26, 36);
      }

      &.number_title {
        @include font(3, 52, 58);
      }
    }

    @include lg {
      & span {
        @include font(3, 26, 36);
      }

      &.number_title {
        @include font(3, 52, 58);
      }
    }

    @include xl {
      & span {
        @include font(3, 32, 44);
      }

      br {
        display: none;
      }

      &.number_title {
        @include font(3, 64, 80);
      }

      position: relative;
      display: flex;
      align-items: flex-end;
      gap: 8px;
    }

    @include xxl {
      & span {
        @include font(3, 32, 44);
      }

      br {
        display: block;
      }

      &.number_title {
        @include font(3, 64, 80);
      }
    }

    @include xxxl {
      & span {
        @include font(3, 32, 54);
      }

      &.number_title {
        @include font(3, 64, 80);
      }
    }
  }

  &__divider {
    width: 83px;
    height: 2px;
    border: 0;
    background-color: $orange-bg-500;

    @layer base {
      margin: 12px 0;
    }

    @include xl {
      margin: 16px 0;
    }
  }

  &__description {
    @layer base {
      @include font(1, 14, 18, 200);

      max-width: 360px;
      margin-top: 16px;
      color: $yellow-text;
    }

    @include xl {
      @include font(1, 16, 22, 200);

      max-width: none;
    }

    @include xxl {
      max-width: 347px;
    }
  }
}

.desktop_captions {
  @layer base {
    display: none;
  }

  @include md {
    display: flex;
  }
}

.mobile_captions {
  .mobile_slide {
    width: fit-content;
    flex: 0 0 75% !important;
  }

  @include sm {
    .mobile_slide {
      width: fit-content;
      flex: 0 0 65% !important;
    }
  }

  .number_title {
    font-size: 40px;
  }

  @layer base {
    display: flex;
  }

  @include md {
    display: none;
  }
}

.phone_slider_container {
  width: 100%;
}
