.buttonWrap {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  background-color: #fff;
  box-shadow: 0 -2px 0 0 #fff;
  grid-gap: 4px;
  opacity: 0;
  transition: bottom 0.3s ease-out;
}

.card {
  @include font(1, 14--14, 13--13);

  position: relative;
  display: flex;
  min-width: 220px;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 22px 22px;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-out;

  &:hover {
    box-shadow: 0 0 0 2px #d38f6d;

    .buttonWrap {
      z-index: 1;
      bottom: -70px;
      box-shadow:
        0 -2px 0 0 #fff,
        0 0 0 2px #d38f6d;
      opacity: 1;
      transition:
        box-shadow 0.3s ease,
        bottom 0.3s ease-out;
    }

    .button {
      opacity: 1;
      transition: opacity 0.5s 0.3s ease-out;
    }
  }
}

.card_dashboard {
  &:hover {
    box-shadow: 0 0 0 2px $korichneviy;

    .buttonWrap {
      z-index: 1;
      bottom: -70px;
      box-shadow:
        0 -2px 0 0 #fff,
        0 0 0 2px $korichneviy;
      opacity: 1;
      transition:
        box-shadow 0.3s ease,
        bottom 0.3s ease-out;
    }

    .button {
      opacity: 1;
      transition: opacity 0.5s 0.3s ease-out;
    }
  }
}

.image {
  position: relative !important;
  display: flex;
  width: 100%;
  max-width: 160px;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto 44px;

  img {
    object-fit: contain !important;
  }
}

.title {
  @include font(2, 19, 28);

  margin-bottom: 21px;
  color: #555 !important;

  @media (max-width: 504px) {
    font-size: 16px;
  }
}

.list {
  position: relative;
  z-index: 3;
  display: grid;
  align-items: center;
  padding-bottom: 23px;
  border-bottom: 1px solid #bed0db;
  margin-bottom: 19px;
  background-color: #fff;
  color: #555;
  gap: 14px 35px;
  grid-template-columns: auto 1fr;
  list-style: none;
}

.listItem {
  display: contents;

  span {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    word-break: break-word;

    @media (max-width: 504px) {
      font-size: 12px;
    }
  }

  @media (max-width: 504px) {
    font-size: 12px;
  }

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.price_container {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .price_block {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;

    @media (max-width: 990px) {
      grid-gap: 3px;
    }

    .price {
      @include font(2, 20, 19);

      background-color: #fff;

      @media (max-width: 504px) {
        font-size: 16px;
      }
    }
    .old_price {
      color: #BABABA;
      font-size: 15px;
      line-height: 14.36px;
      font-weight: 400;
      font-family: $font-primary;
      text-decoration: line-through;
      @media (max-width: 990px) {
        font-size: 13px;
        line-height: 12.44px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    grid-gap: 11px;

    button {
      padding: 0;
      cursor: pointer;
    }
  }


}

.cardHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  gap: 15px;

  svg:hover {
    cursor: pointer;
    fill: #d38f6d;
  }
}

.dashboard {
  svg {
    &:hover {
      fill: #d38f6d;
    }

    path {
      stroke: #d38f6d;
    }
  }
}

.button {
  margin-top: 20px;
  opacity: 0;
}
