.title {
  @include font(3, 24, 32);

  position: absolute;
  top: 20px;
  left: 50%;
  animation: myAnim 1s ease-out;
  color: #fdf1cd;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    @include font(3, 32, 100);

    top: 28px;
    left: 60px;
    transform: none;
  }
}

.numbersSection {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 42px;
  background-color: #11627d;

  @media (max-width: 504px) {
    padding: 0 24px;
  }
}

.slideWrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1220px;
  justify-content: center;
  margin: 0 auto !important;
  animation: myAnim 1s ease;

  @media (max-width: 1199px) {
    flex-direction: column !important;
    align-items: center;
    padding-top: 131px;
  }

  @media (max-width: 504px) {
    padding-top: 33px;
  }
}

.slideItem {
  position: relative;
  display: flex;
  width: 383px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    background-color: #d38f6d;
    content: '';

    @media (max-width: 504px) {
      width: 18px;
      height: 18px;
    }
  }

  &::after {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #11627d;
    content: '';

    @media (max-width: 504px) {
      width: 49px;
      height: 49px;
    }
  }

  * {
    display: none;
  }
}

.number span {
  @include font(3, 65, 77);

  display: flex;
  justify-content: center;
  color: #fdf1cd;

  @media screen and (min-width: 768px) {
    @include font(3, 150, 180);
  }
}

.number {
  position: relative;
  z-index: 3;
  display: flex !important;
  justify-content: center;
  margin-bottom: 40px !important;

  @media (max-width: 504px) {
    margin-bottom: 5px !important;
  }
}

.text {
  @include font(2, 12, 18);

  position: relative;
  min-height: 60px;
  color: #fff;
  text-align: center;

  &::before {
    position: absolute;
    z-index: 3;
    top: -35px;
    left: 50%;
    width: 112px;
    height: 2px;
    background-color: #d38f6d;
    content: '';
    transform: translateX(-50%);
    transition: width 0.5s ease-out 0.2s;

    @media (max-width: 504px) {
      top: -10px;
      width: 44px;
      height: 1px;
    }
  }

  @media screen and (min-width: 768px) {
    @include font(2, 20, 30);

    min-height: 120px;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active {
  animation: myAnim 3s ease;

  * {
    display: block;
  }
}
