.wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 70px 16px;
  }

  @include sm {
    gap: 80px;
    padding: 70px 20px;
  }

  @include md {
    gap: 90px;
    padding: 90px 40px;
  }

  @include xl{
    gap: 90px;
    padding: 90px 40px 90px 142px;
  }

  @include xxl {
    gap: 110px;
    padding: 110px 40px 110px 170px;
  }

  @include xxxl {
    gap: 110px;
    padding: 110px 40px 110px 196px;
  }
}

.innerWrapper{
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.title{
  @layer base {
    color: rgba(33, 60, 78, 1);
    @include font(3, 30, 40, 400);
  }
}

.mainContent{
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.selectorsWrapper{
  @layer base {
    display: flex;
    gap: 8px;
  }
}

.button{
  @layer base{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    padding: 14px 20px!important;
    transition: all 0.5s ease-in-out;
  }
}

.dataInputWrapper{
  @layer base {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    background: #FFFFFF;
    gap: 20px;
    border-radius: 10px;
  }
}

.inputStyles{
  @layer base{
    height: auto!important;
    border-radius: 6px!important;
    padding: 14px!important;
    border-color: rgba(205, 208, 211, 1)!important;
    color: rgba(116, 118, 121, 1)!important;

    &::placeholder{
      color: rgba(181, 185, 190, 1)!important;
    }
  }
}

.labelStyles{
  @layer base{
    color: rgba(181, 185, 190, 1)!important;
    @include font(1,14, 18, 400)
  }

  @include xl{
    @include font(1,16, 22, 400)
  }
}

.conditions{
  @layer base{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
    background: rgba(17, 98, 125, 1);
    color: #FFFFFF;
    border-radius: 10px;
  }
}
