.page {
  min-height: 743px;
}

.pointsWrapper {
  &::before {
    position: absolute;
    z-index: 1;
    top: 70vh;
    right: -36vw;
    display: none;
    min-height: 653px;
    background: linear-gradient(180deg, #1e3849 0%, rgb(30 56 73 / 0%) 100%);
    content: '';
    transform: rotate(105deg);
  }

  @include mobile {
    overflow: hidden;

    &::before {
      display: none;
    }
  }

  &::after {
    position: fixed;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;

    @layer base {
      background: linear-gradient(180deg, rgb(38 57 69 / 0%) 43.85%, rgb(38 57 69 / 47%) 57.88%, #263945 100%),
        linear-gradient(90deg, rgb(19 36 47 / 70%) 0%, rgb(30 56 73 / 0%) 50%),
        radial-gradient(41.9% 13.62% at 48.44% 26.85%, rgb(255 255 255 / 0%) 0%, rgb(30 56 73 / 10%) 100%);
    }

    @include md {
      top: 0;
      bottom: unset;
      background: linear-gradient(90deg, rgb(19 36 47 / 70%) 0%, rgb(30 56 73 / 0%) 50%),
        radial-gradient(64.3% 48.24% at 55.31% 48.9%, rgb(255 255 255 / 0%) 0%, rgb(30 56 73 / 10%) 66.49%);
    }
  }
}

.mapImage {
  @layer base {
    position: absolute !important;
    z-index: 0;
    height: 100% !important;
    contain: paint;
    inset: 0;
    object-fit: cover;
    object-position: bottom;
  }

  @include md {
    z-index: 0;
    right: 0;
    left: 0;
  }
}

.wrapper {
  scale: 1;
}

.swipe {
  position: absolute;
  z-index: 10;
  top: 98px;
  right: 34px;

  svg path {
    fill: #fff;
  }
}

.mobileImage {
  overflow: hidden;
}

.direction-hint {
  @include font(1, 16, 22, 700);

  color: #fff;
  text-shadow: 0 4px 13.5px rb(0 0 0 / 100%) g;

  &-wrapper {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.captions {
  &-title {
    @layer base {
      @include font(3, 30, 40, 400);

      color: $yellow-text;
    }

    @include md {
      @include font(3, 36, 50, 400);
    }

    @include xl {
      @include font(3, 42, 54, 400);
    }
  }

  @layer base {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 24px;
    gap: 40px;
  }

  @include sm {
    padding-bottom: 40px;
    gap: 60px;
  }

  @include md {
    bottom: 0;
    width: fit-content;
    height: 100%;
    justify-content: space-between;
    padding: 90px 40px;
  }

  @include lg {
    justify-content: start;
    gap: 60px;
  }

  @include content-container;

  @include xxxl {
    padding-top: 130px;
    padding-left: 196px;
  }

  @include xxl {
    padding-top: 90px;
    padding-left: 170px;
  }

  @include xl {
    padding-top: 60px;
  }

  @include lg {
    padding-top: 60px;
  }
}

.caption-items {
  @layer base {
    display: flex;
    gap: 60px;
  }

  @include md {
    flex-direction: column;
    gap: 48px;
  }
}

.caption {
  position: relative;
  max-width: 245px;

  @include xl {
    width: 245px;
  }

  & svg {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include md {
    min-width: 215px;
  }

  &__title {
    @layer base {
      @include font(3, 40, 50, 400);

      color: $yellow-text;

      span {
        @include font(3, 22, 34, 400);

        padding-left: 8px;
        color: $yellow-text;
      }
    }

    @include md {
      @include font(3, 52, 58, 400);

      span {
        @include font(3, 26, 36, 400);
      }
    }

    @include md {
      @include font(3, 64, 80, 400);

      span {
        @include font(3, 32, 44, 400);
      }
    }
  }

  &__divider {
    width: 83px;
    height: 2px;
    border: 0;
    margin-left: 0;
    background-color: $orange-bg-500;

    @layer base {
      margin: 8px 0;
    }

    @include md {
      margin: 12px 0;
    }

    @include md {
      margin: 16px 0;
    }
  }

  &__description {
    @layer base {
      @include font(1, 14, 18, 200);

      color: $yellow-text;
    }

    @include md {
      max-width: 190px;
    }

    @include md {
      @include font(1, 16, 23, 200);

      max-width: 220px;
    }
  }
}

.desktop_captions {
  @layer base {
    display: none;
  }

  @include md {
    display: flex;
  }
}

.mobile_captions {
  @layer base {
    display: flex;
  }

  @include md {
    display: none;
  }
}
