$color_1: var(--text-body);
$color_2: var(--detail-high-contrast);
$background-color_1: transparent;

.embla {
  margin: auto;

  @layer base {
    --slide-height: 100%;
    --slide-size: 100%;

    height: 100%;
  }

  //@include sm{
  //  --slide-height: 260px;
  //}
  //
  //@include md{
  //  --slide-height: 400px;
  //}
  //
  //@include lg{
  //  --slide-height: 500px;
  //}
  //
  //@include xl{
  //  --slide-height: 600px;
  //}
  //
  //@include xxl{
  //  --slide-height: 700px;
  //}
  //
  //@include xxxl{
  //  --slide-height: 800px;
  //}
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
  margin-left: calc(var(--slide-spacing) * -1);
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
  transform: translate3d(0, 0, 0);
  transition: opacity 0.2s ease-in-out;

  //&:not(.is-snapped) {
  //  opacity: 0.16;
  //}
}

.embla__slide__img {
  display: block;
  width: 100%;
  height: var(--slide-height);
  object-fit: cover;
}

.embla__controls {
  display: grid;
  justify-content: space-between;
  margin-top: 1.8rem;
  gap: 1.2rem;
  grid-template-columns: auto 1fr;
}

.embla__dots {
  display: flex;
  align-items: center;

  //flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  //margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100px;
  margin: 0;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.5s ease-in-out;

  &::after {
    display: flex;
    width: 15px;
    height: 15px;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: rgb(255 255 255 / 30%);
    content: '';
  }
}

.embla__dot--selected {
  &::after {
    width: 25px;
    border-radius: 100px;
    background-color: rgb(255 255 255 / 100%);
    transition: all 0.5s ease-in-out;
  }
}
