$color_1: var(--text-body);
$color_2: var(--detail-high-contrast);
$background-color_1: transparent;

.embla {
  margin: auto;
  @layer base {
    height: 100%;
    --slide-height: 100%;
    --slide-size: 100%;
  }

  //@include sm{
  //  --slide-height: 260px;
  //}
  //
  //@include md{
  //  --slide-height: 400px;
  //}
  //
  //@include lg{
  //  --slide-height: 500px;
  //}
  //
  //@include xl{
  //  --slide-height: 600px;
  //}
  //
  //@include xxl{
  //  --slide-height: 700px;
  //}
  //
  //@include xxxl{
  //  --slide-height: 800px;
  //}


}
.embla__viewport {
  height: 100%;
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transition: opacity 0.2s ease-in-out;
  //&:not(.is-snapped) {
  //  opacity: 0.16;
  //}
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__dots {
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  //margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  &:after {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
}

.embla__dot--selected {
  &:after {
    width: 25px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 1);
    transition: all .5s ease-in-out;
  }
}

