.block-wrapper {
  @layer base {
    padding: 0 16px;
  }

  @include sm{
    padding: 0 20px;
  }

  @include md{
    padding: 0 40px;
  }

  @include lg {
    padding: 0 40px;
  }

  @include xl {
    padding: 0 40px 0 142px;
  }

  @include xxl {
    padding: 0 40px 0 170px;
  }

}

.title {
  @layer base {
    color: rgba(33, 60, 78, 1);
    padding-bottom: 40px;
    border-bottom: 0px solid rgba(17, 98, 125, 0.3);
    @include font(3, 30, 40, 400);
  }

  @include md {
    @include font(3, 36, 50, 400);
    border-bottom: 1px solid rgba(17, 98, 125, 0.3);
  }


  @include lg {
    @include font(3, 36, 50, 400);
  }

  @include xl {
    @include font(3, 42, 54, 400);
  }

  @include xxl {
    @include font(3, 42, 54, 400);
  }


}

.tile {
  @layer base {
    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 100%;
    word-wrap: break-word;

    justify-content: space-between;
    padding: 36px 20px;
    color: #FFFFFF;
    gap: 24px;
    height: 300px;

    @include font(3, 22, 34, 400);
  }

  @include sm{
    padding: 36px;
  }

  @include md{

    @include font(3, 26, 36, 400);
  }

  @include desktop {
    display: flex;

    .tile {
      justify-content: space-between;
      height: 532px;
      padding: 60px;
      @include font(3, 32, 44, 400);
      color: #FFFFFF;
    }
  }

}

.tiles-wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include md{
    margin-top: 40px;
  }
}

.first-line {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include lg {
    flex-direction: row;

    .tile {
      height: 540px;
    }
  }
}


.second-line {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .tile {
      background: #FFFFFF;
      color: rgba(17, 17, 16, 1);
    }
  }

  @include lg {
    .tile {
      height: 300px;
    }
  }

  @include desktop {
    flex-direction: row;
  }


}

.bg1 {
  background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/storerooms_5.jpeg') no-repeat center center;
  background-size: 100% 100%;
}

.bg2 {
  background: rgba(17, 98, 125, 1);
}
