.block-wrapper {
  @layer base {
    padding: 0 16px;
  }

  @include sm{
    padding: 0 20px;
  }

  @include md{
    padding: 0 40px;
  }

  @include lg {
    padding: 0 40px;
  }

  @include xl {
    padding: 0 40px 0 142px;
  }

  @include xxl {
    padding: 0 40px 0 170px;
  }

  @include xxxl {
    padding: 0 40px 0 196px;
  }
}

.title {
  @layer base {
    color: rgba(33, 60, 78, 1);
    padding-bottom: 40px;
    border-bottom: 0px solid rgba(17, 98, 125, 0.3);
    @include font(3, 30, 40, 400);
  }

  @include md {
    @include font(3, 36, 50, 400);
    border-bottom: 1px solid rgba(17, 98, 125, 0.3);
  }


  @include lg {
    @include font(3, 36, 50, 400);
  }

  @include xl {
    @include font(3, 42, 54, 400);
  }

  @include xxl {
    @include font(3, 42, 54, 400);
  }


}

.tile {
  @layer base {
    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 100%;
    word-wrap: break-word;

    //justify-content: space-between;
    justify-content: start;
    padding: 36px 20px;
    color: #FFFFFF;
    gap: 40px;
    height: 300px;

    @include font(3, 24, 36, 400);
  }

  @include sm {
    padding: 36px;
  }

  @include md {
    padding: 40px;
    @include font(3, 26, 36, 400);
  }



}

.tiles-wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include md{
    margin-top: 40px;
  }
}

.first-line {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include lg {
    flex-direction: row;

    .tile {
      height: 480px;
      @include font(3, 26, 36, 400);
    }
  }

  @include xl {
    .tile {
      height: 532px;
    }
  }

  @include xxxl {
    .tile{
      padding: 60px;
    }
  }
}


.second-line {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .tile {
      background: #FFFFFF;
      color: rgba(17, 17, 16, 1);
    }
  }



  @include md{
    .tile {
      height: 240px;
    }

    .tile:last-of-type{
      height: 204px;
      padding-bottom: 0;
    }
  }

  @include lg {
    .tile {
      height: 204px;
    }

    .tile:last-of-type{
      height: 348px;
    }
  }

  @include xl {
    flex-direction: row;
    @include font(3, 24, 36, 400);

  }

  @include xl {
    .tile {
      display: flex;
      justify-content: unset;
      height: 312px;
      padding: 40px;
      @include font(3, 24, 36, 400);
    }
  }

  @include xxl {
    .tile {
      height: 276px;
    }
  }

  @include xxxl {
    .tile{
      height: 240px;
    }
  }

}

.bg1 {
  @layer base {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_xs.png') no-repeat center center;
    background-size: 100% 100%;
    justify-content: space-between;
  }

  @include sm {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_sm.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include md{
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_md.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include lg {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_lg.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_xl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_xxl.png') no-repeat center center;
    background-size: 100% 100%;
  }

  @include xxxl {
    background: linear-gradient(228.37deg, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 60%) 65.97%), url('/content/storerooms/bucket_xxxl.png') no-repeat center center;
    background-size: 100% 100%;
  }
}

.bg2 {
  @layer base {
    background: rgba(17, 98, 125, 1);
    @include font(3, 22, 34, 400);
    gap: 10px
  }

  @include sm {
    justify-content: space-between;
  }

}


