.comfort-wrapper {
  @layer base {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 16px;
    word-break: break-word;

  }

  @include sm {
    padding: 0 20px;
  }

  @include md {
    padding: 0 40px;
  }

  @include lg {

    .title {
      @include font(3, 36, 50, 400);

      color: #213C4E;
    }

  }

  @include xl {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 40px 0 142px;

  }

  @include xxl {
    padding: 0 40px 0 170px;
  }

}

.desc-wrapper {
  @layer base {
    display: none;
  }

  @include xl {
    display: flex;
    flex-direction: column;
    width: 485px;
    text-align: left;

    .description {
      @include font(1, 24, 34);
      margin-top: 12px;
      color: #555555;
    }
  }

  @include xxl{
    width: 747px;
  }

  @include xxxl{
    width: 890px;
  }

}

.download-wrapper {

  @layer base {
    width: 100%;
    border-top: 1px solid rgba(17, 98, 125, 0.3);
    padding-top: 40px;
  }

  @include xl {
    padding: 0;
    border-top: 0 solid rgba(17, 98, 125, 0.3);

    .download {
      padding: 0;
    }

  }

}

.table-desc-wrapper {

  @layer base {
    width: 100%;

    display: flex;
    flex-direction: column;
    //gap: 40px;

    .description {
      @include font(1, 16, 20);

      max-width: 780px;
      margin-top: 12px;
      color: #555555;
    }
  }

  @include xl {
    display: none;
  }

  @include lg {
    .description {
      @include font(1, 20, 26);

      max-width: max-content;
      margin-top: 12px;
      color: #555555;
    }
  }

}

.download {
  display: flex;
  gap: 20px;
  width: fit-content;

  .text {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    h4 {
      @include font(1, 16, 20, 400);
    }

    p {
      @include font(1, 12, 14);
      color: #A0A3A8;
    }

  }

  @include lg {
    padding-top: 40px;
    border-top: 1px solid rgba(17, 98, 125, 0.3);
  }

  @include xl {

    display: flex;
    gap: 20px;
    width: fit-content;

    .text {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      h4 {
        @include font(1, 24, 34, 400);
      }

      p {
        @include font(1, 12, 12);
        color: #A0A3A8;
      }

    }

  }

}

.info-wrapper {
  @layer base {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      @include font(3, 30, 40, 400);

      color: #213C4E;
    }
  }

  @include md{
    gap: 60px;
  }

  @include xl {
    gap: 60px;
    width: 553px;

    .title {
      @include font(3, 43, 54, 400);

      color: #213C4E;
    }
  }

  @include xxl{
    width: 563px;
  }

  @include xxxl{
    width: 714px;
  }
}
